//-
	Alliance StatS compares match scouting data for all teams on an alliance
		reports.js
		'/reports/alliancestats'
			QUERY: teams (comma separated list of teams)
extends ../layout
include mixins/metricTables
block content
	style.
		html{
			overflow: visible;
		}
		#content{
			/*Reduce page's padding*/
			padding: 4px 8px!important;
		}
	include templates/heatmap
	- var aggRangeMap = [];
	for scoreItem in currentAggRanges
		- aggRangeMap[scoreItem.key] = scoreItem;

	//- h2(class="theme-text") Statistics for teams</br>#{teams.replace(/,/g, ', ').replace(/frc/g, '')}
	h2(class="theme-text")!=msg('reports.allianceStats')
	h6
		i!=msg('reports.teamClick')
	h6
		i!=msg('reports.metricClick')

	+metricSwitcher()
	p

	div#metricTable_AVG(class="metricTable w3-auto")
		if (avgdata)
			table(class="w3-table" style="width: 80%")
				tr
					th(class="w3-right-align" style="width: 25%")!=msg('metrics.metricAVG')
					for team in teamList
						th(class="w3-right-align theme-text")
							u
								a(href=`/reports/teamintel?team_key=${team}`)= team.substring(3)
				each agg in avgdata
					tr
						- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						-// if (teamList.length > 3)
						-//	- var abbrSplit = result2.split(" "); var abbr = ""; for (abbrIdx = 0; abbrIdx < abbrSplit.length; abbrIdx++) abbr = abbr + abbrSplit[abbrIdx].charAt(0); result2 = abbr;
						td(class="w3-text-light-gray w3-small w3-right-align")
							a(href=`/reports/metricintel?key=${agg.key}`)= result2
						for team in teamList
							- var valueCol = 'w3-right-align w3-text-white'
							- if (agg[team] == 0) valueCol = 'w3-right-align w3-text-gray'
							if (aggRangeMap[agg.key])
								td(class=`${valueCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])})`)= agg[team]
							else
								td(class=`${valueCol}`)= agg[team]
			p

	div#metricTable_MAX(class="metricTable w3-auto")
		if (maxdata)
			table(class="w3-table" style="width: 80%")
				tr
					th(class="w3-right-align" style="width: 25%")!=msg('metrics.metricMAX')
					for team in teamList
						th(class="w3-right-align theme-text")
							u
								a(href=`/reports/teamintel?team_key=${team}`)= team.substring(3)
				each agg in maxdata
					tr
						- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						-// if (teamList.length > 3)
						-//	- var abbrSplit = result2.split(" "); var abbr = ""; for (abbrIdx = 0; abbrIdx < abbrSplit.length; abbrIdx++) abbr = abbr + abbrSplit[abbrIdx].charAt(0); result2 = abbr;
						td(class="w3-text-light-gray w3-small w3-right-align")
							a(href=`/reports/metricintel?key=${agg.key}`)= result2
						for team in teamList
							- var valueCol = 'w3-right-align w3-text-white'
							- if (agg[team] == 0) valueCol = 'w3-right-align w3-text-gray'
							if (aggRangeMap[agg.key])
								td(class=`${valueCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])},${getValG(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])},${getValB(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])})`)= agg[team]
							else
								td(class=`${valueCol}`)= agg[team]
			p

	a(class="gear-btn theme-link w3-btn" href='/reports/metricsranked')!=msg('reports.overall')