extends ../layout

block content
	style.
		html{
			overflow: visible;
		}
		#content{
			/*Reduce page's padding*/
			padding: 4px 8px!important;
		}
	include templates/heatmap
	- var aggRangeMap = [];
	for scoreItem in currentAggRanges
		- aggRangeMap[scoreItem.key] = scoreItem;

	//- h2(class="theme-text") Statistics for teams</br>#{teams.replace(/,/g, ', ').replace(/frc/g, '')}
	h2(class="theme-text") Statistics for alliance teams
	h6 <i>Click on a team number for intel on that team</i>
	h6 <i>Click on a metric to compare all event teams</i>
	
	span Show:  
	input(type="radio" id="showAvg" name="sel" checked="checked" onclick="showAvg();")
	label(for="showAvg")  Averages    
	input(type="radio" id="showMax" name="sel" onclick="showMax();")
	label(for="showMax")  Maximums 
	p

	div#avgSect(class="w3-auto")
		if (avgdata)
			table(class="w3-table")
				tr
					th Metric (Avg)
					for team in teamList
						th(class="w3-right-align theme-text")
							u
								a(href=`/reports/teamintel?team_key=${team}`)= team.substring(3)
				each agg in avgdata
					tr
						- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						-// if (teamList.length > 3)
						-//	- var abbrSplit = result2.split(" "); var abbr = ""; for (abbrIdx = 0; abbrIdx < abbrSplit.length; abbrIdx++) abbr = abbr + abbrSplit[abbrIdx].charAt(0); result2 = abbr;
						td(class="w3-text-light-gray w3-small")
							a(href=`/reports/metricintel?key=${agg.key}`)= result2
						for team in teamList
							- var valueCol = 'w3-right-align w3-text-white'
							- if (agg[team] == 0) valueCol = 'w3-right-align w3-text-gray'
							if (aggRangeMap[agg.key])
								td(class=`${valueCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])})`)= agg[team]
							else
								td(class=`${valueCol}`)= agg[team]
			p

	div#maxSect(class="w3-auto")
		if (maxdata)
			table(class="w3-table")
				tr
					th Metric (Max)
					for team in teamList
						th(class="w3-right-align theme-text")
							u
								a(href=`/reports/teamintel?team_key=${team}`)= team.substring(3)
				each agg in maxdata
					tr
						- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						-// if (teamList.length > 3)
						-//	- var abbrSplit = result2.split(" "); var abbr = ""; for (abbrIdx = 0; abbrIdx < abbrSplit.length; abbrIdx++) abbr = abbr + abbrSplit[abbrIdx].charAt(0); result2 = abbr;
						td(class="w3-text-light-gray w3-small")
							a(href=`/reports/metricintel?key=${agg.key}`)= result2
						for team in teamList
							- var valueCol = 'w3-right-align w3-text-white'
							- if (agg[team] == 0) valueCol = 'w3-right-align w3-text-gray'
							if (aggRangeMap[agg.key])
								td(class=`${valueCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])},${getValG(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])},${getValB(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])})`)= agg[team]
							else
								td(class=`${valueCol}`)= agg[team]
			p

	a(class="gear-btn theme-link w3-btn" href='/reports/metricsranked') Overall ranked event data

	script.
		showAvg();

		function showAvg() {
			var avg = document.getElementById('avgSect');
			avg.style.display = "block";
			var max = document.getElementById('maxSect');
			max.style.display = "none";
		}

		function showMax() {
			var avg = document.getElementById('avgSect');
			avg.style.display = "none";
			var max = document.getElementById('maxSect');
				max.style.display = "block";
		}