//-
	User config page with checkboxes to choose which columns are visible in a report.
	PARAM
		layout 		[Object Array]	from layouts {'matchscouting'}
		savedCols	[Object Array]	originally from cookie (later, or database); dictionary of "selected" columns
	CALLED BY
		reports.js	'/reports/choosecolumns'
	//
extends ../layout
block content
	h2(class="theme-text")
		p Choose Report Columns
	h6(class="theme-text") 
		i If NONE selected, report pages will show default set of columns for organization (or ALL columns if no default set)
		br
		br
		i If ALL selected, or SOME selected, report pages will show ONLY the selected columns
	div(class="w3-section")
		button(class="theme-red w3-btn gear-btn" onclick="uncheck()") Uncheck All
		button(class="theme-submit w3-btn gear-btn" onclick="check()") Check All
	form(action="/reports/choosecolumns" method="post")
		div(class="w3-section w3-auto")
			each item in layout
				//- console.log("choosecolumns.pug: item=" + JSON.stringify(item))
				div(class="w3-row w3-mobile w3-auto" style="width: 320px;")
					div(class="w3-padding-small w3-left-align")
						//- if (item.type == 'counter' || item.type == 'badcounter' || item.type == 'checkbox')
						- if (matchDataHelper.isQuantifiableType(item.type))
							- var text = item.id; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
							- if (savedCols[item.id])
								input(type="checkbox" class="w3-check" name=item.id id=item.id checked="checked")
							- else
								input(type="checkbox" class="w3-check" name=item.id id=item.id)
							div(class="w3-show-inline-block w3-left-align")
								label(class="theme-text" for=item.id) &nbsp;#{result2}
							br 
		//-	div(class="w3-container" style="max-width:200px;margin:auto;")
				div(class="w3-left w3-margin-left")
					- if(member.event_info.present == true)
						input(type="checkbox" class="w3-check" name=member._id id=member._id checked="checked")
					- else
						input(type="checkbox" class="w3-check" name=member._id id=member._id)
					label(class="w3-text-white" for=member._id) &nbsp;#{member.name}
		- if (user.role.access_level >= process.env.ACCESS_TEAM_ADMIN)
			br
			//- 'setOrgDefault': see reports.js, /reports/choosecolumns
			input(type="checkbox" class="w3-check" name='setOrgDefault' id='setOrgDefault')
			label(class="theme-text" for='setOrgDefaultLabel') &nbsp;Check this to set the organization defaults
			br
			br
		div(style="width:200px;margin:auto;text-align:center")
			button(type="submit" class="w3-btn theme-submit") Update Column Selections
	- if (user.role.access_level >= process.env.ACCESS_TEAM_ADMIN)
		br
		form(action="/reports/clearorgdefaultcols" method="post")
			div(style="width:200px;margin:auto;text-align:center")
				button(type="submit" class="w3-btn theme-red") CLEAR ORGANIZATION DEFAULTS
	script(type="text/javascript").
		function uncheck(){
			var elements = document.getElementsByTagName("input");
			
			for(var i in elements){
				elements[i].removeAttribute("checked");
			}
		}
		
		function check(){
			var elements = document.getElementsByTagName("input");
			
			for(var i in elements){
				elements[i].setAttribute("checked", "checked");
			}
		}