//-
	Match Intel shows the results for a match (Outcome, score, and scouting results)
		reports.js
		'/reports/matchintel'
			QUERY: key (Match key for the match)
extends ../layout
block content
	include mixins/youtubeEmbed
	if match.score_breakdown
		div(class="w3-auto")
			h2!=msg('reports.matchIntel.winner', {match: match.match_number, alliance: msg(`alliance.${match.winning_alliance}Short`)})
			- var thisObj = {};

			h4!=msg('reports.matchIntel.points', {alliance: msg('alliance.red'), score: match.alliances.red.score})
			h4.i=match.alliances.red.team_keys[0].substring(3)+', '+match.alliances.red.team_keys[1].substring(3)+', '+match.alliances.red.team_keys[2].substring(3)
			p
			h4!=msg('reports.matchIntel.points', {alliance: msg('alliance.blue'), score: match.alliances.blue.score})
			h4.i=match.alliances.blue.team_keys[0].substring(3)+', '+match.alliances.blue.team_keys[1].substring(3)+', '+match.alliances.blue.team_keys[2].substring(3)
			if (match.videos)
				if (match.videos[0])
					if (match.videos[0].type == "youtube")
						hr
						//a(class="theme-link w3-btn" href=`https://www.youtube.com/watch?v=${match.videos[0].key}`) Watch this match on YouTube
						+youtubeEmbed(match.videos[0].key)
			hr
			table(class="w3-table w3-auto" style="width: 80%")
				tr
					th(style="width: 33%")!=msg('metrics.metric')
					th(style="width: 33%")!=msg('alliance.redShort')
					th(style="width: 33%")!=msg('alliance.blueShort')
				- blueObj = match.score_breakdown.blue;
				- redObj = match.score_breakdown.red;
				- for (var property in blueObj)
					- if (blueObj.hasOwnProperty(property))
						tr
							- var text = property; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
							td(class="w3-small") #{result2}:
							- var redProp = redObj[property].toString().match(/[A-Z][a-z]+/g);
							- if (redProp) var redFinal = redProp.join(" "); else var redFinal = redObj[property];
							td.b= redFinal
							- var blueProp = blueObj[property].toString().match(/[A-Z][a-z]+/g);
							- if (blueProp) var blueFinal = blueProp.join(" "); else var blueFinal = blueObj[property];
							td.b= blueFinal
	else 
		h4.i!=msg('reports.noMatchDataYet')
