extends ../layout

block content
	if match.score_breakdown
		div(class="w3-auto")
			h2 Match #{match.match_number} - Winner: #{match.winning_alliance}
			- var thisObj = {};

			h4 Blue team: #{match.alliances.blue.score} points
			- var blueTeams = match.alliances.blue.team_keys[0].substring(3)+', '+match.alliances.blue.team_keys[1].substring(3)+', '+match.alliances.blue.team_keys[2].substring(3);
			h4 <i>#{blueTeams}</i>
			p
			h4 Red team: #{match.alliances.red.score} points
			- var redTeams = match.alliances.red.team_keys[0].substring(3)+', '+match.alliances.red.team_keys[1].substring(3)+', '+match.alliances.red.team_keys[2].substring(3);
			h4 <i>#{redTeams}</i>
			if (match.videos)
				if (match.videos[0])
					if (match.videos[0].type == "youtube")
						hr
						a(class="theme-link w3-btn" href=`https://www.youtube.com/watch?v=${match.videos[0].key}`) Watch this match on YouTube
			hr
			table(class="w3-table w3-auto" style="width: 80%")
				tr
					th(style="width: 33%") Attribute
					th(style="width: 33%") Blue
					th(style="width: 33%") Red
				- blueObj = match.score_breakdown.blue;
				- redObj = match.score_breakdown.red;
				- for (var property in blueObj)
					- if (blueObj.hasOwnProperty(property))
						tr
							- var text = property; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
							td(class="w3-small") #{result2}:
							- var blueProp = blueObj[property].toString().match(/[A-Z][a-z]+/g);
							- if (blueProp) var blueFinal = blueProp.join(" "); else var blueFinal = blueObj[property];
							td <b>#{blueFinal}</b>
							- var redProp = redObj[property].toString().match(/[A-Z][a-z]+/g);
							- if (redProp) var redFinal = redProp.join(" "); else var redFinal = redObj[property];
							td <b>#{redFinal}</b>
	else 
		h4
			i No data available for this match yet. Please check back later.
