//-
	Metrics Ranked shows the top teams for each metric.
		reports.js
		'/reports/metricsranked'
extends ../layout
block content
	include templates/heatmap
	- var aggRangeMap = [];
	for scoreItem in currentAggRanges
		- aggRangeMap[scoreItem.key] = scoreItem;

	h2(class="theme-text")!=msg('reports.rankedTitle')
	h6.i!=msg('reports.metricClick')
	h6.i!=msg('reports.teamClick')
	
	if (aggdata)
		div(class="w3-show-inline-block")
			table(class="w3-table")
				tr
					th!=msg('metrics.metric')
					th(class="w3-center")!=msg('reports.team')
					th(class="w3-right-align")!=msg('metrics.AVG1')
				each agg in aggdata
					tr
						- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						td(class="w3-text-light-gray w3-small")
							a(href=`/reports/metricintel?key=${agg.key}`)= result2
						if (agg.team.substring(3) == '(mult)' || agg.team.substring(3) == 'None') 
							td(class='w3-text-white w3-center')= agg.team.substring(3)
						else
							td(class='w3-text-white w3-center')
								a(href=`/reports/teamintel?team_key=${agg.team}`)= agg.team.substring(3)
						- var avgCol = 'w3-right-align w3-text-white'
						- if (agg.avg == 0) avgCol = 'w3-right-align w3-text-gray'
						if (aggRangeMap[agg.key])
							td(class=`${avgCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)})`)= agg.avg
						else
							td(class=`${avgCol}`)= agg.avg
		p
		-// class="gear-btn theme-submit w3-btn" 
		a(class="gear-btn theme-link w3-btn" href='/reports/metrics')!=msg('reports.allTeamsMetricsSummary')

