//-
	Metric Intel shows per-team statistics for a particular metric
		reports.js
		'/reports/metricintel'
			QUERY: key (Metric key, e.g. totalPieces)
extends ../layout
include mixins/metricTables
block content
	style.
		.w3-tooltip .w3-tooltiptext{
			width: 120px;
			padding: 8px 16px;
			margin-left: -60px;
		}
		tbody tr {
			counter-increment: row-number;
		}
		thead tr::before {
			content: ""
		}
		tbody tr::before {
			content: counter(row-number);
			display: table-cell;
			padding: 8px 0px;
			text-align: right;
			opacity: 0.7;
		}
		tbody {
			counter-reset: row-number;
		}
		@media(max-width: 425px) {
			.w3-table th, .w3-table td {
				padding-left: 4px;
				padding-right: 4px;
			}
		}
	include templates/heatmap
	- var aggRangeMap = [];
	for scoreItem in currentAggRanges
		- aggRangeMap[scoreItem.key] = scoreItem;

	- var text = key; var result1 = text.replace( /([A-Z])/g, " $1" ); var metricTitle = result1.charAt(0).toUpperCase() + result1.slice(1)
	h2(class="theme-text")!=msgMarked('reports.metricIntel', {metric: metricTitle})
	h6.i!=msg('reports.headerClick')
	h6.i!=msg('reports.teamClick')
	
	if (aggdata)
		div(class="w3-auto w3-content" style="max-width: 600px;")
			table(class="w3-table" id="metricTable")
				thead
					tr
						th(class="w3-center")!=msg('reports.team')
						each metric in ['MIN', 'AVG', 'VAR', 'MAX']
							th(class="w3-right-align w3-tooltip")!=msg(`metrics.${metric}1`)
				tbody
					each agg, i in aggdata
						tr
							td(class="w3-text-light-gray w3-center")
								a(href=`/reports/teamintel?team_key=${agg._id}`)= agg._id.substring(3)
							- var minCol = 'w3-right-align w3-text-white'
							- if (agg[key+"MIN"] == 0) minCol = 'w3-right-align w3-text-gray'
							- var avgCol = 'w3-right-align w3-text-white'
							- if (agg[key+"AVG"] == 0) avgCol = 'w3-right-align w3-text-gray'
							- var varCol = 'w3-right-align w3-text-white'
							- if (agg[key+"VAR"] == 0) varCol = 'w3-right-align w3-text-gray'
							- var maxCol = 'w3-right-align w3-text-white'
							- if (agg[key+"MAX"] == 0) maxCol = 'w3-right-align w3-text-gray'
							if (aggRangeMap[key])
								td(class=`${minCol}` style=`background-color: rgb(${getValR(aggRangeMap[key].MINmin, aggRangeMap[key].MINmax, agg[key+"MIN"])},${getValG(aggRangeMap[key].MINmin, aggRangeMap[key].MINmax, agg[key+"MIN"])},${getValB(aggRangeMap[key].MINmin, aggRangeMap[key].MINmax, agg[key+"MIN"])})`)= agg[key+"MIN"]
								td(class=`${avgCol}` style=`background-color: rgb(${getValR(aggRangeMap[key].AVGmin, aggRangeMap[key].AVGmax, agg[key+"AVG"])},${getValG(aggRangeMap[key].AVGmin, aggRangeMap[key].AVGmax, agg[key+"AVG"])},${getValB(aggRangeMap[key].AVGmin, aggRangeMap[key].AVGmax, agg[key+"AVG"])})`)= agg[key+"AVG"]
								td(class=`${avgCol}` style=`background-color: rgb(${getValR(aggRangeMap[key].VARmin, aggRangeMap[key].VARmax, agg[key+"VAR"])},${getValG(aggRangeMap[key].VARmin, aggRangeMap[key].VARmax, agg[key+"VAR"])},${getValB(aggRangeMap[key].VARmin, aggRangeMap[key].VARmax, agg[key+"VAR"])})`)= agg[key+"VAR"]
								td(class=`${maxCol}` style=`background-color: rgb(${getValR(aggRangeMap[key].MAXmin, aggRangeMap[key].MAXmax, agg[key+"MAX"])},${getValG(aggRangeMap[key].MAXmin, aggRangeMap[key].MAXmax, agg[key+"MAX"])},${getValB(aggRangeMap[key].MAXmin, aggRangeMap[key].MAXmax, agg[key+"MAX"])})`)= agg[key+"MAX"]
							else
								td(class=`${minCol}`)= agg[key+"MIN"]
								td(class=`${avgCol}`)= agg[key+"AVG"]
								td(class=`${avgCol}`)= agg[key+"VAR"]
								td(class=`${maxCol}`)= agg[key+"MAX"]
	+tableSorter()