extends ../layout

block content
	if (rankings)
		h2(class="theme-text") Current event rankings
		h6 <i>Click on a team to see intel on that team</i>
		table(class="w3-table")
			tr
				th(class="w3-center theme-spacer") Rank
				th(class="w3-center theme-spacer") Team
				th(class="w3-center theme-spacer") W-L-T
				th(class="w3-center theme-spacer") DQ
				th(class="w3-center theme-spacer") Matches
				th(class="w3-center theme-spacer") RP
			each team in rankings
				tr
					td(class="theme-text w3-center")
						b= team.rank
					td(class="theme-text-dark w3-center")
						a(href=`/reports/teamintel?team=${team.team_key}`)= team.team_key.substring(3)
					td(class="theme-text-dark w3-center")= team.record.wins+'-'+team.record.losses+'-'+team.record.ties
					td(class="theme-text-dark w3-center")= team.dq
					td(class="theme-text-dark w3-center")= team.matches_played
					td(class="theme-text-dark w3-center")= team.extra_stats[0]
	else
		h2(class="theme-text") <i>There are no rankings in the system yet</i>
		h6 Please check back later
