//-
	Rankings shows the rankings for the current event.
		reports.js
		'/reports/rankings'
extends ../layout
block content
	style.
		#content{
			/*Reduce page's padding*/
			padding: 4px 8px!important;
		}
		.w3-tooltip .w3-tooltiptext{
			width: 160px;
			padding: 8px 16px;
			margin-left: -80px;
		}
	if (rankings)
		h2(class="theme-text") Current event rankings
		h6 <i>Click on a team to see intel on that team</i>
		div(class="w3-auto")
			table(class="w3-table")
				tr
					th(class="w3-center theme-spacer") Rank
					th(class="w3-center theme-spacer") Team
					th(class="w3-center theme-spacer w3-tooltip") W-L-T
						span(class="w3-tooltiptext") Win-Loss-Tie
					th(class="w3-center theme-spacer w3-tooltip") DQ
						span(class="w3-tooltiptext") Disqualifications
					th(class="w3-center theme-spacer") Matches
					th(class="w3-center theme-spacer w3-tooltip") RP
						span(class="w3-tooltiptext") Ranking Points
				each team in rankings
					tr
						td(class="theme-text w3-center")
							b= team.rank
						td(class="theme-text-secondary w3-center")
							a(href=`/reports/teamintel?team_key=${team.team_key}`)= team.team_key.substring(3)
						td(class="theme-text-secondary w3-center")= team.record.wins+'-'+team.record.losses+'-'+team.record.ties
						td(class="theme-text-secondary w3-center")= team.dq
						td(class="theme-text-secondary w3-center")= team.matches_played
						td(class="theme-text-secondary w3-center")= team.extra_stats[0]
	else
		h2(class="theme-text") <i>There are no rankings in the system yet</i>
		h6 Please check back later
