extends ../layout

block content
	include templates/heatmap
	- var aggRangeMap = [];
	for scoreItem in currentAggRanges
		- aggRangeMap[scoreItem.key] = scoreItem;

	h2(class="theme-text-white") Team #{team.team_number}: #{team.nickname.replace(new RegExp(' ', 'g'), '\xa0')}
	if (ranking)
		h4(class="theme-text") Currently ranked ##{ranking.rank} <br> #{ranking.record.wins+'-'+ranking.record.losses+'-'+ranking.record.ties} record with #{ranking.extra_stats[0]} RP
	- var country = '';
	- if (team.country != 'USA') country = team.country;
	h4(class="theme-text w3-tooltip" style="font-style:italic") From: #{team.city}, #{team.state_prov} #{country}
		span(class="w3-tooltiptext w3-block" style="font-style:italic") #{team.name}
	a(href=`${fileRoot}/uploads/responsive/${event_year}_${team.key}_lg.jpg`)
		img(src=`${fileRoot}/uploads/responsive/${event_year}_${team.key}_md.jpg` alt="" class="w3-image" style="max-height:350px;")
	div(style="width:80%; margin-left:auto; margin-right:auto; display:block;")
		a(href=`${fileRoot}/uploads/responsive/${event_year}_${team.key}a_lg.jpg`)
			img(src=`${fileRoot}/uploads/responsive/${event_year}_${team.key}a_sm.jpg` alt="" class="w3-image" style="max-height:100px;")
		a(href=`${fileRoot}/uploads/responsive/${event_year}_${team.key}b_lg.jpg`)
			img(src=`${fileRoot}/uploads/responsive/${event_year}_${team.key}b_sm.jpg` alt="" class="w3-image" style="max-height:100px;")
		a(href=`${fileRoot}/uploads/responsive/${event_year}_${team.key}c_lg.jpg`)
			img(src=`${fileRoot}/uploads/responsive/${event_year}_${team.key}c_sm.jpg` alt="" class="w3-image" style="max-height:100px;")
		//- div(style="width:80%; margin-left:auto; margin-right:auto; display:block;")
			img(src=`${fileRoot}/uploads/responsive/${event_year}_${team.key}_md.jpg` width="100%" height="100%" alt="")
	div(class="w3-padding")
		a(class="theme-link w3-btn" href=`/reports/upcoming?team=${team.key}`) Upcoming matches for team #{team.key.substring(3)}
	div(class="w3-padding")
		a(class="theme-link w3-btn" href=`/reports/teamintelhistory?team=${team.key}`) All data for Team #{team.key.substring(3)} from this year
	br 

	button#PitScoutingButton(onClick="toggle('PitScoutingSection', this)" class="w3-block w3-btn w3-no-outline w3-left-align w3-border-gray w3-border-bottom rounded-small") 
		span(class="w3-left") &#9660;&nbsp;
		span Show 
		span Pit Scouting
	div#PitScoutingSection(class="w3-container w3-hide")
		if (data)
			h1 Pit Scouting Info
			- var changeCount = -0.5;
			each element in layout
				case element.type
					when "checkbox"
						- if (data[element.id] != 0 && data[element.id] != '' && data[element.id] != null)
							h4(class="") #{element.label} <strong>Yes</strong>
						- else
							h4(class="") #{element.label} <strong>No</strong>
					when "counter"
					when "badcounter"
					when "multiselect"
					when "textblock"
						- if (data[element.id] != 0 && data[element.id] != '' && data[element.id] != null)
							h4(class="") #{element.label} <strong>#{data[element.id]}</strong>
						- else
							h4(class="") #{element.label} <i>[no data]</i>
					when "h2"
						//- if (changeCount == 0)
							h4(class="") <i>(no change)</i>
						- changeCount = 0;
						br 
						div(class="theme-spacer")
						h2(class="theme-text-white") #{element.label}
					when "h3"
						//- if (changeCount == 0)
							h4(class="") <i>(no change)</i>
						- changeCount = 0;
						br 
						div(class="theme-spacer")
						h3(class="theme-text-white") #{element.label}
					when "spacer"
						br
			//- if (changeCount == 0)
				h4(class="theme-text") (no change)
			if (inTable)
				| </table>
		else
			h6 No pit scouting data yet - check back later

	p
	button#StatisticsButton(onClick="toggle('StatisticsSection', this)" class="w3-block w3-btn w3-no-outline w3-left-align w3-border-gray w3-border-bottom rounded-small") 
		span(class="w3-left") &#9660;&nbsp;
		span Show 
		span Statistics
	div#StatisticsSection(class="w3-container w3-hide")
		if (aggdata)
			h2(class="theme-text") Statistics for #{team.key.replace('frc','team ')}
			h6 <i>Click on a metric to compare vs. other teams</i>
			table(class="w3-table")
				tr
					th Metric
					th(class="w3-right-align") Min
					th(class="w3-right-align") Avg
					th(class="w3-right-align") Var
					th(class="w3-right-align") Max
				each agg in aggdata
					tr
						- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						td(class="w3-text-light-gray w3-small")
							//-2019-4-02 JL: Custom "top" so it's inline with the data
							a(style="position:relative;top:3px;" href=`/reports/metricintel?key=${agg.key}`)= result2
						- var minCol = 'w3-right-align w3-text-white'
						- if (agg.min == 0) minCol = 'w3-right-align w3-text-gray'
						- var avgCol = 'w3-right-align w3-text-white'
						- if (agg.avg == 0) avgCol = 'w3-right-align w3-text-gray'
						- var varCol = 'w3-right-align w3-text-white'
						- if (agg.var == 0) varCol = 'w3-right-align w3-text-gray'
						- var maxCol = 'w3-right-align w3-text-white'
						- if (agg.max == 0) maxCol = 'w3-right-align w3-text-gray'
						if (aggRangeMap[agg.key])
							td(class=`${minCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].MINmin, aggRangeMap[agg.key].MINmax, agg.min)},${getValG(aggRangeMap[agg.key].MINmin, aggRangeMap[agg.key].MINmax, agg.min)},${getValB(aggRangeMap[agg.key].MINmin, aggRangeMap[agg.key].MINmax, agg.min)})`)= agg.min
							td(class=`${avgCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)})`)= agg.avg
							td(class=`${varCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].VARmin, aggRangeMap[agg.key].VARmax, agg.var)},${getValG(aggRangeMap[agg.key].VARmin, aggRangeMap[agg.key].VARmax, agg.var)},${getValB(aggRangeMap[agg.key].VARmin, aggRangeMap[agg.key].VARmax, agg.var)})`)= agg.var
							td(class=`${maxCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg.max)},${getValG(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg.max)},${getValB(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg.max)})`)= agg.max
						else
							td(class=`${minCol}`)= agg.min
							td(class=`${avgCol}`)= agg.avg
							td(class=`${varCol}`)= agg.var
							td(class=`${maxCol}`)= agg.max
					//-2019-4-02 JL: Borders for row visibility
					tr(style="height:0px;")
						td(style="border-bottom: 1px solid #ffffff80; height: 0px; padding: 0;")
						td(style="padding:0;")
						td(style="padding:0;")
						td(style="padding:0;")
						td(style="padding:0;")



	p
	button#PreviousMatchesButton(onClick="toggle('PreviousMatchesSection', this)" class="w3-block w3-btn w3-no-outline w3-left-align w3-border-gray w3-border-bottom rounded-small") 
		span(class="w3-left") &#9660;&nbsp;
		span Show 
		span Previous Matches
	div#PreviousMatchesSection(class="w3-container w3-hide")
		style.
			.thick-border{
				border-width: 3px!important;
				margin-top: -2px;
				border-radius: 9px;
				border-color: #dfe1e9!important;
			}
		h2(class="theme-text") Previous matches

		if (matches && matches.length > 0)		
			each match in matches
				if (match.scoringdata && user)
					each element in scorelayout
						case element.type
							when "textblock"
								if (match.scoringdata[element.id])
									h5(class="theme-text") #{element.label} <strong>#{match.scoringdata[element.id]}</strong>
		
		if (matches && matches.length > 0)		
			h6 <i>Click team number for match scouting details</i>
			h6 <i>Click match button for overall alliance performances</i>
			h6(class="theme-text")
				a(class="gear-btn theme-link w3-btn" href="/reports/teamdata?key=" + team.key) Scoring data for all team #{team.key.substring(3)} matches
			p(class="theme-spacer")
			
			each match in matches
				include templates/completedMatch
				if (match.scoringdata && user)
					each element in scorelayout
						case element.type
							when "textblock"
								if (match.scoringdata[element.id])
									h5(class="theme-text") #{element.label} <strong>#{match.scoringdata[element.id]}</strong>
				p(class="theme-spacer")
				//-hr
				//-div(class="w3-row")
					div(class="w3-col s12 m12 l2")
						a(href=`/reports/matchintel?key=${match.key}`) 
							div(class="theme-dim theme-hover-white w3-btn w3-block w3-border")
								- var matchPrefix = "";
								- if (match.comp_level != 'qm') matchPrefix = "" + match.comp_level + "" + match.set_number + " ";
								- var outcome = "Tie!";
								- if (match.winning_alliance == 'red') outcome = "Red won";
								- if (match.winning_alliance == 'blue') outcome = "Blue won";
								span #{matchPrefix.toUpperCase()}Match #{match.match_number}: #{outcome}
					div(class="w3-col s12 m12 l1") &nbsp;
					div(class="w3-col s8 m3 l2")
						div(class="w3-col w3-border alliance-blue previousmatches-container")
							each teamkey in match.alliances.blue.team_keys
								- var teamStyleBlue = "height: 36px;";
								- if (teamkey == team.key) teamStyleBlue += "font-weight:800;";
								a(href=`/reports/teammatchintel?key=${match.key}_${teamkey}`)
									div(class="w3-btn w3-block previousmatches-team-container alliance-hover-blue" style=`${teamStyleBlue}`)
										span(class="previousmatches-team")= teamkey.substring(3)
					div(class="w3-col s4 m2")
						- var divClassBlue = 'w3-btn w3-block w3-border previousmatches-container ';
						- if (match.winning_alliance == 'blue') divClassBlue += 'w3-white';
						- else divClassBlue += 'theme-dim';
						div(class=`${divClassBlue}`)
							if (match.alliances.blue.score > -1)
								span Score:
								br
								span= match.alliances.blue.score
								br
								- var blueRPs = ''
								- if (match.score_breakdown.blue.completeRocketRankingPoint) blueRPs = 'CR '
								- if (match.score_breakdown.blue.habDockingRankingPoint) blueRPs += 'HD'
								span= blueRPs
							else
								span &nbsp;
					div(class="w3-col m2 l1") &nbsp;
					div(class="w3-col s8 m3 l2")
						div(class="w3-col w3-border alliance-red previousmatches-container")
							each teamkey in match.alliances.red.team_keys
								- var teamStyleRed = "height: 36px;";
								- if (teamkey == team.key) teamStyleRed += "font-weight:800";
								a(href=`/reports/teammatchintel?key=${match.key}_${teamkey}`)
									div(class="w3-btn w3-block previousmatches-team-container alliance-hover-red" style=`${teamStyleRed}`)
										span(class="previousmatches-team")= teamkey.substring(3)
					div(class="w3-col s4 m2 l2")
						- var divClassRed = 'w3-btn w3-block w3-border previousmatches-container ';
						- if (match.winning_alliance == 'red') divClassRed += 'w3-white';
						- else divClassRed += 'theme-dim';
						div(class=`${divClassRed}`)
							if (match.alliances.red.score > -1)
								span Score:
								br
								span= match.alliances.red.score
								br
								- var redRPs = ''
								- if (match.score_breakdown.red.completeRocketRankingPoint) redRPs = 'CR '
								- if (match.score_breakdown.red.habDockingRankingPoint) redRPs += 'HD'
								span= redRPs
							else
								span &nbsp;
		else
			h6 No previous matches yet - check back later
	script.
		function toggle(sectionId, elem){
			//hide/show
			var x = document.getElementById(sectionId);
			if (x.className.indexOf("w3-show") == -1)
				x.className += " w3-show";
			else
				x.className = x.className.replace(" w3-show", "");
			
			//change text thingy
			var caret = elem.firstElementChild;//is span w/ caret
			var text = caret.nextElementSibling; //is main text
			
			text.innerText = (caret.innerText[0] == "▼") ? "Hide " : "Show ";
			caret.innerText = (caret.innerText[0] == "▼") ? "▲\xa0" : "▼\xa0";
			
		}