//-
	Team Match Intel shows match scouting results for a 
	particular team at a particular match.
		reports.js
		'/reports/matchdata'
			QUERY: key (Team-match key - event_match_team)
extends ../layout
include ../mixins/noDataFound
block content
	if (teammatch)
		h2(class="theme-text")
			a(href=`/reports/teamintel?team_key=${teammatch.team_key}`)!=msg('reports.teamNumber', {team: teammatch.team_key.substring(3)})
		p
		h3!=msg('reports.teamMatchIntel.header', {match: teammatch.match_number, alliance: msg(`alliance.${teammatch.alliance}Short`)})
		hr
		if (data)
			each element in layout
				- element.label = resolveLabelTemplate(element.label, teamKey)
				case element.type
					when "checkbox"
						- var boolVal = msg('yes');
						- if (data[element.id] == 0) boolVal = msg('no');
						h4(class="theme-text") #{element.label} <strong>#{boolVal}</strong>
					when "counter"
					when "badcounter"
					when "derived"
					when "multiselect"
					when "textblock"
						h4(class="theme-text") #{element.label}#{element.label.endsWith(':')?'':':'} <strong>#{data[element.id]}</strong>
					when "h2"
						h2=element.label
					when "h3"
						h3=element.label
					when "spacer"
						br
		else
			+noDataFound(msg('reports.noMatchScoutData', {team: teamKey.substring(3), match: teammatch.match_number}))
	else
		+noDataFound(msg('reports.noMatchScoutData2', {team: teamKey.substring(3)}))
		h6
			a(class="gear-btn theme-link w3-btn" href=`/reports/teamintel?team_key=${teamKey}`)!=msg('reports.viewIntelPage')
		

