//-
	Team Data shows the scoring results for each match a particular team 
	participated in. 
		reports.js
		'/reports/teamdata'
			QUERY: team_key (Team key)
extends ../layout
include mixins/metricTables
block content
	style.
		html{
			overflow: visible;
		}
	include templates/heatmap
	h2(class="theme-text")!=msg('reports.matchDataFor', {number: team.team_number, nick: team.nickname.replace(new RegExp(' ', 'g'), '\xa0')})
	p

	if (matches)
		h6.i!=msg('reports.matchClickAlliance')
		- var aggRangeMap = [];
		for scoreItem in currentAggRanges
			- aggRangeMap[scoreItem.key] = scoreItem;

		table(class="w3-table" id="metricTable")
			tr
				th(class="w3-center")!=msg('reports.match')
				- var colIdx = 2;
				for item in layout
					-//if (item.type == 'checkbox' || item.type == 'counter' || item.type == 'badcounter')
					if (matchDataHelper.isQuantifiableType(item.type))
						- var text = item.id; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						th(class="w3-right-align")= result2
						- colIdx++
			for row in matches
				if (row.data)
					tr
						td(class="w3-center")
							a(href="/reports/matchdata?key=" + row.match_key)= row.match_number
						for item in layout
							-//if (item.type == 'checkbox' || item.type == 'counter' || item.type == 'badcounter')
							if (matchDataHelper.isQuantifiableType(item.type))
								- var valStyle = 'w3-right-align w3-text-white'
								- if (row.data[item.id] == 0) valStyle = 'w3-right-align w3-text-gray'
								if (aggRangeMap[item.id])
									td(class=`${valStyle}` style=`background-color: rgb(${getValR(aggRangeMap[item.id].MINmin, aggRangeMap[item.id].MAXmax, row.data[item.id])},${getValG(aggRangeMap[item.id].MINmin, aggRangeMap[item.id].MAXmax, row.data[item.id])},${getValB(aggRangeMap[item.id].MINmin, aggRangeMap[item.id].MAXmax, row.data[item.id])})`)= displayReportMetric(row.data[item.id])
								else
									td(class=`${valStyle}`)= displayReportMetric(row.data[item.id])
	else
		p.i!=msg('metrics.insufficientData')
	+tableSorter()