//-
	Team Intel History shows data for a particular team for the whole season.
		reports.js
		'/reports/teamintelhistory'
			QUERY: team_key (team key)
extends ../layout
block content
	include mixins/completedMatch
	include mixins/intelToggler
	div(class="w3-auto")
		h2!=msg('reports.teamHeader', {number: team.team_number, nick: team.nickname.replace(new RegExp(' ', 'g'), '\xa0')})
		if (ranking)
			h4(class="theme-text")!=msg('reports.teamRank', {rank: ranking.rank, rp: ranking.extra_stats[0], ...ranking.record})
		//- var country = '';
		//- if (team.country != 'USA') country = team.country;
		h4(class="theme-text w3-tooltip i")!=msg('reports.teamFrom', {city: team.city, state: team.state_prov, country: team.country})
			span(class="w3-tooltiptext w3-block i")=team.name
		p
		div(class="w3-padding-small")
			+intelTogglerSectionHeader('reports.teamIntel.yearStatistics', {year: year})
			div#yearStatisticsSection(class="w3-container w3-hide")
				if (aggdata)
					h2(class="theme-text")!=msg('reports.historicalTeamStats', {team: team.key.substring(3)})
					table(class="w3-table")
						tr
							th!=msg('metrics.metric')
							th(class="w3-right-align")!=msg('metrics.MIN1')
							th(class="w3-right-align")!=msg('metrics.AVG1')
							th(class="w3-right-align")!=msg('metrics.VAR1')
							th(class="w3-right-align")!=msg('metrics.MAX1')
						each agg in aggdata
							tr
								- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
								td(class="w3-text-light-gray w3-small")= result2
								- var minCol = 'w3-right-align w3-text-white'
								- if (agg.min == 0) minCol = 'w3-right-align w3-text-gray'
								td(class=`${minCol}`)= agg.min
								- var avgCol = 'w3-right-align w3-text-white'
								- if (agg.avg == 0) avgCol = 'w3-right-align w3-text-gray'
								td(class=`${avgCol}`)= agg.avg
								- var varCol = 'w3-right-align w3-text-white'
								- if (agg.var == 0) varCol = 'w3-right-align w3-text-gray'
								td(class=`${varCol}`)= agg.var
								- var maxCol = 'w3-right-align w3-text-white'
								- if (agg.max == 0) maxCol = 'w3-right-align w3-text-gray'
								td(class=`${maxCol}`)= agg.max
		div(class="w3-padding-small")
			+intelTogglerSectionHeader('reports.teamIntel.yearPreviousMatches', {year: year})
			div#yearPreviousMatchesSection(class="w3-container w3-hide")
				style.
					.thick-border{
						border-width: 3px!important;
						margin-top: -2px;
						border-radius: 9px;
						border-color: #dfe1e9!important;
					}
				h2(class="theme-text")!=msg('reports.allPreviousMatches')
				
				if (matches && matches.length > 0)		
					h6.i!=msg('reports.teamMatchClick')
					h6.i!=msg('reports.overallMatchClick')
					- var thisEventKey = '';
					each match in matches
						if (match.event_key != thisEventKey)
							- thisEventKey = match.event_key;
							br 
							if events && events[thisEventKey]
								h4 #{events[thisEventKey].year} #{events[thisEventKey].name}
							else
								h4(class="theme-text") #{thisEventKey}
							hr 
						//include templates/completedMatch
						+completedMatch(match, undefined, team.key)
						if (match.scoringdata && user && user.role.access_level >= Permissions.ACCESS_SCOUTER)
							each element in scorelayout
								case element.type
									when "textblock"
										if (match.scoringdata[element.id])
											h5(class="theme-text") #{element.label} <strong>#{match.scoringdata[element.id]}</strong>
						hr 
				else
					include ../mixins/noDataFound
					+noDataFound('!reports.noPreviousMatchesYet', true)
	+intelTogglerJS()