//-
	Team Match Intel shows match scouting results for a 
	particular team at a particular match.
		reports.js
		'/reports/matchdata'
			QUERY: key (Team-match key - event_match_team)
extends ../layout
block content
	if (teammatch)
		h2(class="theme-text")
			a(href=`/reports/teamintel?team_key=${teammatch.team_key}`)= teammatch.team_key.replace('frc','Team ')
		p
		h3 Match ##{teammatch.match_number} - #{teammatch.alliance[0].toUpperCase()+teammatch.alliance.substring(1)} alliance 
		hr
		if (data)
			each element in layout
				- element.label = resolveLabelTemplate(element.label, teamKey)
				case element.type
					when "checkbox"
						- var boolVal = 'Yes';
						- if (data[element.id] == 0) boolVal = 'No';
						h4(class="theme-text") #{element.label} <strong>#{boolVal}</strong>
					when "counter"
					when "badcounter"
					when "derived"
					when "multiselect"
					when "textblock"
						h4(class="theme-text") #{element.label}#{element.label.endsWith(':')?'':':'} <strong>#{data[element.id]}</strong>
					when "h2"
						h2 #{element.label}
					when "h3"
						h3 #{element.label}
					when "spacer"
						br
		else
			h4(class="theme-text") 
				i
					span No match scouting data available for team&nbsp;
					span=teamKey.substring(3)
					span &nbsp;for match 
					span=teammatch.match_number
					span .
	else
		h4(class="theme-text") 
			i
				span No match scouting data available for team&nbsp;
				span=teamKey.substring(3)
				span &nbsp;for this match.
		h4
			a(class="gear-btn theme-link w3-btn" href=`/reports/teamintel?team_key=${teamKey}`) View this team's intel page.
		

