//-
	Upcoming shows upcoming matches at an event (for all teams or one team)
		reports.js
		'/reports/upcoming'
			QUERY: [optional] team_key (Team key for which to view upcoming matches)
extends ../layout
block content
	include mixins/upcomingMatch
	if teamKey == 'all'
		- teamLabel = msg('reports.allTeams')
	else 
		- teamLabel = msg('reports.teamNumber', {team: teamKey.substring(3)});
	
	if !matches[0] && teamKey == 'all'
		h3!=msg('driveDashboard.noMatches')
	else if !matches[0]
		h!=msg('driveDashboard.noMatchesTeam', {team: teamLabel})
	else
		h3!=msg('reports.upcomingMatchesTeam', {team: teamLabel})
		if teams
			select#teamSelect(class="gear-btn theme-input w3-btn")
				option(value="")!=msg('reports.team')
				each team in teams
					option(value=team.team_number class="w3-bar-item")=team.team_number
			a#upcomingMatchesLink(href="/reports/upcoming")
				div(class="gear-btn w3-btn theme-dim theme-hover-light-gray")!=msg('reports.upcomingMatchesFor') 
					span#upcomingMatchesLabel!=msg('driveDashboard.allTeams')
		br 
		br 
		section
			each match in matches
				+upcomingMatch(match, true, teamKey)
	script.
		$("#teamSelect").change(function(){
			doTeamSelectChange(this);
		});
		
		function doTeamSelectChange(it){
			var that = $(it);
			
			var selectedTeam = that.val();
			//if a team has been selected
			if(selectedTeam){
				$("#upcomingMatchesLabel").text(`team ${selectedTeam}`);
				$("#upcomingMatchesLink").attr("href", `/reports/upcoming?team_key=frc${selectedTeam}`)
			}
			else{
				$("#upcomingMatchesLabel").text("[All Teams]");
				$("#upcomingMatchesLink").attr("href", "/reports/upcoming")
			}
		}