extends ../layout
block content
	if teamKey == 'all'
		- teamLabel = 'all teams'
	else 
		- teamLabel = `Team ${teamKey.substring(3)}`;
	
	if !matches[0] && teamKey == 'all'
		h3 No upcoming matches for this tournament.
	else if !matches[0]
		h3 No upcoming matches for #{teamLabel}.
	else
		h3 Upcoming matches for #{teamLabel}
		if teams
			select#teamSelect(class="gear-btn theme-input w3-btn")
				option(value="") Team #
				each team in teams
					option(value=team.team_number class="w3-bar-item") #{team.team_number}
			a#upcomingMatchesLink(href="/reports/upcoming")
				div(class="gear-btn w3-btn theme-dim theme-hover-light-gray") View upcoming matches for 
					span#upcomingMatchesLabel [All Teams]
		br 
		br 
		section
			each match in matches
				include templates/upcomingMatch 
				hr 
	script.
		$("#teamSelect").change(function(){
			doTeamSelectChange(this);
		});
		
		function doTeamSelectChange(it){
			var that = $(it);
			
			var selectedTeam = that.val();
			//if a team has been selected
			if(selectedTeam){
				$("#upcomingMatchesLabel").text(`team ${selectedTeam}`);
				$("#upcomingMatchesLink").attr("href", `/reports/upcoming?team_key=frc${selectedTeam}`)
			}
			else{
				$("#upcomingMatchesLabel").text("[All Teams]");
				$("#upcomingMatchesLink").attr("href", "/reports/upcoming")
			}
		}