extends ../layout
block content
	- team = !!team ? team.substring(3) : null;
	if !matches[0] && !team
		h3 No upcoming matches for this tournament.
	else if !matches[0]
		h3 No upcoming matches for team number #{team}.
	else
		if team
			h3(class="theme-text") Upcoming matches for team #{team}
		else
			h3(class="theme-text") Upcoming matches
		if teams
			select#teamSelect(class="gear-btn theme-input w3-btn")
				option(value="") Team #
				each team in teams
					option(value=team.team_number class="w3-bar-item") #{team.team_number}
			a#upcomingMatchesLink(href="/reports/upcoming")
				div(class="gear-btn w3-btn theme-dim theme-hover-light-gray") View upcoming matches for 
					span#upcomingMatchesLabel [All Teams]
		br 
		br 
		section
			each match in matches
				include templates/upcomingMatch 
				hr 
	script.
		$("#teamSelect").change(function(){
			doTeamSelectChange(this);
		});
		
		function doTeamSelectChange(it){
			var that = $(it);
			
			var selectedTeam = that.val();
			//if a team has been selected
			if(selectedTeam){
				$("#upcomingMatchesLabel").text(`team ${selectedTeam}`);
				$("#upcomingMatchesLink").attr("href", `/reports/upcoming?team=frc${selectedTeam}`)
			}
			else{
				$("#upcomingMatchesLabel").text("[All Teams]");
				$("#upcomingMatchesLink").attr("href", "/reports/upcoming")
			}
		}