extends ../layout

block content
	include templates/heatmap
	- var aggRangeMap = [];
	for scoreItem in currentAggRanges
		- aggRangeMap[scoreItem.key] = scoreItem;

	- var matchPrefix = ''; if (match.comp_level != 'qm') matchPrefix = match.comp_level;
	h2(class="gear-text-white") Comparing alliances for match ##{match.match_number}
	h6 <i>Click on an alliance to see comparative individual team stats:</i>
	- var redTeams = match.alliances.red.team_keys[0].substring(3)+', '+match.alliances.red.team_keys[1].substring(3)+', '+match.alliances.red.team_keys[2].substring(3);
	- var redTeamKeys = match.alliances.red.team_keys[0]+','+match.alliances.red.team_keys[1]+','+match.alliances.red.team_keys[2]
	- var blueTeams = match.alliances.blue.team_keys[0].substring(3)+', '+match.alliances.blue.team_keys[1].substring(3)+', '+match.alliances.blue.team_keys[2].substring(3);
	- var blueTeamKeys = match.alliances.blue.team_keys[0]+','+match.alliances.blue.team_keys[1]+','+match.alliances.blue.team_keys[2]
	- var allTeamKeys = match.alliances.red.team_keys[0]+','+match.alliances.red.team_keys[1]+','+match.alliances.red.team_keys[2]+',0,'+match.alliances.blue.team_keys[0]+','+match.alliances.blue.team_keys[1]+','+match.alliances.blue.team_keys[2]
	a(class="gear-btn theme-link w3-btn" href=`/reports/alliancestats?teams=${allTeamKeys}`) Stats for BOTH alliances
	div(class="w3-section")
		div(class="alliance-red alliance-hover-red w3-btn" style="min-width: 200px;")
			a(href=`/reports/alliancestats?teams=${redTeamKeys}`) Stats for Red: #{redTeams}
	div(class="w3-section")
		div(class="alliance-blue alliance-hover-blue w3-btn" style="min-width: 200px;")
			a(href=`/reports/alliancestats?teams=${blueTeamKeys}`) Stats for Blue: #{blueTeams}
	h6 <i>Click on a metric to compare event teams</i>
	
	if (aggdata)
		table(class="w3-table")
			tr
				th Metric
				th(class="w3-right-align gear-text-blue") Blue<br/>Avg&nbsp;
				th(class="w3-right-align gear-text-red") Red<br/>Avg
			each agg in aggdata
				tr
					- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
					td(class="w3-text-light-gray w3-small")
						a(href=`/reports/metricintel?key=${agg.key}`)= result2
					- var blueCol = 'w3-right-align w3-text-white'
					- if (agg.blue == 0) blueCol = 'w3-right-align w3-text-gray'
					- var redCol = 'w3-right-align w3-text-white'
					- if (agg.red == 0) redCol = 'w3-right-align w3-text-gray'
					if (aggRangeMap[agg.key])
						td(class=`${blueCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.blue)},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.blue)},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.blue)})`)= agg.blue
						td(class=`${redCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.red)},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.red)},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.red)})`)= agg.red
					else
						td(class=`${blueCol}`)= agg.blue
						td(class=`${redCol}`)= agg.red
		a(class="gear-btn theme-link w3-btn" href='/reports/metricsranked') <b>Overall ranked event data</b>

