extends ../layout

block content
	include templates/heatmap
	- var aggRangeMap = [];
	for scoreItem in currentAggRanges
		- aggRangeMap[scoreItem.key] = scoreItem;

	h2(class="gear-text-white") Top teams per metric
	h6 <i>Click on a metric to compare individual teams</i>
	h6 <i>Click on a team to jump to team intel</i>
	
	if (aggdata)
		table(class="w3-table")
			tr
				th Metric
				th(class="w3-center") Team
				th(class="w3-right-align") Avg
			each agg in aggdata
				tr
					- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
					td(class="w3-text-light-gray w3-small")
						a(href=`/reports/metricintel?key=${agg.key}`)= result2
					if (agg.team.substring(3) == '(mult)' || agg.team.substring(3) == 'None') 
						td(class='w3-text-white w3-center')= agg.team.substring(3)
					else
						td(class='w3-text-white w3-center')
							a(href=`/reports/teamintel?team=${agg.team}`)= agg.team.substring(3)
					- var avgCol = 'w3-right-align w3-text-white'
					- if (agg.avg == 0) avgCol = 'w3-right-align w3-text-gray'
					if (aggRangeMap[agg.key])
						td(class=`${avgCol}` style=`background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg.avg)})`)= agg.avg
					else
						td(class=`${avgCol}`)= agg.avg
		p
		-// class="gear-btn theme-submit w3-btn" 
		a(href='/reports/metrics') <b>Click here to see overall aggregated event data</b>

