extends ../layout

block content
	if matches.length > 0
		h3(class="gear-text-white w3-margin-bottom") Match Scouting
		table(class="theme-contains-spacer w3-content" style="")#matchTable
			tr#title
				th(onclick="w3.sortHTML('#matchTable','.item', 'td:nth-child(3)')" style="cursor:pointer") Assigned
				th Team
				th Team Name
			each match, i in matches
				- if (i%6==0)
					tr
						td(class="theme-spacer")
						td(class="theme-spacer")
						td(class="theme-spacer")
					- //gets date crap
					- var date = new Date( match.time * 1000 )
					- if (match.predicted_time) date = new Date( match.predicted_time * 1000 );
					- var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
					- var day = days[date.getDay()];
					- var hour = date.getHours();
					- var minute = date.getMinutes();
					- //makes minute crap 2 digits
					- minute = (minute.toString().length==1) ? "0".concat(minute.toString()) : minute;
					tr
						td 
						th(class="w3-right w3-margin-top") 
							span Match #{match.match_number} <br/> #{day} @ #{hour}:#{minute}
						td  
				tr(class="item")
					- match.alliance = (match.alliance == "red") ? "Red" : "Blue";
					td= match.assigned_scorer
					td(class="w3-mobile")
						if match.data
							a(href=`/scouting/match?key=${match.match_team_key}&alliance=${match.alliance}`)
								div(class="gear-btn theme-rounded theme-gray w3-padding w3-section gear-margin-sides")
									span= match.team_key.substring(3)
							//-Changed to edit match instead of going to team-match-intel
							//-a(href=`/reports/teammatchintel?key=${match.match_team_key}`)
								div(class="gear-btn w3-dark-grey w3-padding w3-section gear-margin-sides")
									span= match.team_key.substring(3)
						else
							- var btnColor = (match.alliance == "Red") ? "alliance-red" : "alliance-blue"
							a(href=`/scouting/match?key=${match.match_team_key}&alliance=${match.alliance}`) 
								div(class=`gear-btn theme-rounded ${btnColor} w3-padding w3-section gear-margin-sides`)
									span= match.team_key.substring(3)
					td(class="w3-left-align")
						a(href=`/reports/teamintel?team=${match.team_key}`)= match.team_nickname