- if(!match) match = {}; //to avoid undefined TypeError
- if(!match.alliances) match.alliances = {blue: {team_keys: []}, red: {team_keys: []}} //to avoid undefined TypeError
div(class="w3-col w3-padding" id=`MatchRow_${row_number}`)
	//-Match number label
	div(class="w3-col m2 w3-padding-small")
		div(class="gear-label theme-inline-padding" id=`MatchLabel_${row_number}`)
			label Match #{row_number < 10 ? "0" + row_number : row_number}:
	//-Time input
	div(class="w3-col m2 w3-padding-small")
		if match.time
			- var d = new Date(1000*match.time);
			- var timeLabel = d.toLocaleString().split(" ")[1].substring(0,5);
			- //var timeLabel = new Date(1000*match.time - 1000*60*60*5).toISOString().substring(11,16).replace("T"," ");
			input(class="w3-input theme-input w3-no-border theme-inline-padding TimeInput" type="text" value=timeLabel name=`SchedTimeInput_${row_number}`)
		else
			input(class="w3-input theme-input w3-no-border theme-inline-padding TimeInput" type="text" placeholder="Scheduled Time" name=`SchedTimeInput_${row_number}`)
	//-Blue alliance label
	div(class="w3-col m1 w3-padding-small")
		div(class="gear-label theme-inline-padding")
			label Blue:
	//-Blue teams input
	div(class="w3-col m1 w3-padding-small")
		if match.alliances.blue.team_keys[0]
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-blue" type="text" value=match.alliances.blue.team_keys[0].substring(3) name=`BlueTeam1_${row_number}`)
		else
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-blue" type="text" placeholder="1" name=`BlueTeam1_${row_number}`)
	div(class="w3-col m1 w3-padding-small")
		if match.alliances.blue.team_keys[1]
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-blue" type="text" value=match.alliances.blue.team_keys[1].substring(3) name=`BlueTeam2_${row_number}`)
		else
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-blue" type="text" placeholder="2" name=`BlueTeam2_${row_number}`)
	div(class="w3-col m1 w3-padding-small")
		if match.alliances.blue.team_keys[2]
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-blue" type="text" value=match.alliances.blue.team_keys[2].substring(3) name=`BlueTeam3_${row_number}`)
		else
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-blue" type="text" placeholder="3" name=`BlueTeam3_${row_number}`)
	//-Red alliance label
	div(class="w3-col m1 w3-padding-small")
		div(class="gear-label theme-inline-padding")
			label Red:
	//-Red teams input
	div(class="w3-col m1 w3-padding-small")
		if match.alliances.red.team_keys[0]
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-red" type="text" value=match.alliances.red.team_keys[0].substring(3) name=`RedTeam1_${row_number}`)
		else
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-red" type="text" placeholder="1" name=`RedTeam1_${row_number}`)
	div(class="w3-col m1 w3-padding-small")
		if match.alliances.red.team_keys[1]
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-red" type="text" value=match.alliances.red.team_keys[1].substring(3) name=`RedTeam2_${row_number}`)
		else
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-red" type="text" placeholder="2" name=`RedTeam2_${row_number}`)
	div(class="w3-col m1 w3-padding-small")
		//-Class RedTeam3, onchange event creates new row.
		if match.alliances.red.team_keys[2]
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-red RedTeam3" type="text" value=match.alliances.red.team_keys[2].substring(3) name=`RedTeam3_${row_number}`)
		else
			input(class="w3-input theme-input w3-no-border theme-inline-padding alliance-red RedTeam3" type="text" placeholder="3" name=`RedTeam3_${row_number}`)
	if match.time
		input(type="hidden" name=`SchedTime_${row_number}` id=`SchedTime_${row_number}` value=match.time * 1000)
	else
		input(type="hidden" name=`SchedTime_${row_number}` id=`SchedTime_${row_number}` value="-1")