//-
	Page to manually input the match schedule for non TBA synced events.
		manage/manualdata.js
		'/manage/manualdata/matchschedule'
	//
extends ../../layout
block content
	style.
		.MatchAddRow{
			border-radius:50%;
			width:48px;
			height:48px;
			background-color: #213fdd;
		}
		.MatchAddRow:hover{
			background-color: #4060ff;
		}
		.MatchAddRow span{
			position:relative;
			top:4px;
		}
		.TimeInput{
			transition: 0.5s;
			border: 2px solid #00000000!important;
		}
		.TimeInput.error{
			border: 2px solid red!important;
		}
		.TimeInput:focus{
			outline: 0!important;
		}
	h2=title
	//- Manual data links
	a(href="/manage/manualdata/teams")
		div(class="gear-btn theme-link w3-btn")
			span(class="sprite sp-16 sp-edit sp-inline")
			span!=msg('layout.nav.manage.event.editteams')
	a(href="/manage/manualdata/matchresults")
		div(class="gear-btn theme-link w3-btn")
			span(class="sprite sp-16 sp-edit sp-inline")
			span!=msg('layout.nav.manage.event.editmatchresults')
	form(id="ManualInputMatchSchedule" action="/manage/manualdata/matchschedule" method="post")
		//-Event date
		div(class="w3-section w3-auto")
			div(class="w3-col")
				div(class="w3-col m4 w3-padding-small")
					div(class="gear-label theme-inline-padding")
						label First day of event:
				div(class="w3-col m2 w3-padding-small")
					select(class="w3-input theme-input w3-no-border theme-inline-padding" type="multiselect" name="EventDateWeekDay" id="EventDateWeekDay" disabled)
						option 
						option(value="7") Sunday
						option(value="1") Monday
						option(value="2") Tuesday
						option(value="3") Wednesday
						option(value="4") Thursday
						option(value="5") Friday
						option(value="6") Saturday
				div(class="w3-col m2 w3-padding-small")
					select(class="w3-input theme-input w3-no-border theme-inline-padding" type="multiselect" name="EventDateMonth" id="EventDateMonth")
						option(value="1") January
						option(value="2") February
						option(value="3") March
						option(value="4") April
						option(value="5") May
						option(value="6") June
						option(value="7") July
						option(value="8") August
						option(value="9") September
						option(value="10") October
						option(value="11") November
						option(value="12") December
				div(class="w3-col m1 w3-padding-small")
					input(class="w3-input theme-input w3-no-border theme-inline-padding" type="number" placeholder="Day" name=`EventDateDay` id="EventDateDay")
				div(class="w3-col m2 w3-padding-small")
					input(class="w3-input theme-input w3-no-border theme-inline-padding" type="number" placeholder="Year" name=`EventDateYear` id="EventDateYear")
			//-To prevent from cluttering view, populate EventDay inside of script
			script const origEventDate = '#{event.start_date}';
				//- script $("#EventDateMonth").val(#{date.getMonth()}); $("#EventDateDay").val(#{date.getDay()}); $("#EventDateYear").val(#{date.getFullYear()});
				//- script console.log(`#{date}`);
		//-Container for all matches
		div(class="w3-section w3-auto" id="MatchTable")
			div(class="w3-col")
				//-Automatically include 2 matchSchedInputs
				- var row_number = 1;
				each match in matches
					- if (match.comp_level == "qm")
						include templates/matchscheduleinput
						- row_number++;
				- match = null;
				include templates/matchscheduleinput
				- row_number++;
				include templates/matchscheduleinput
				- row_number++;
				//-+ button to add new match
				div(class="w3-col w3-padding" id=`MatchAddOne_${row_number}`)
					div(class="w3-col m3 l2") &nbsp;
					div(class="w3-col m3 l2 w3-margin-top")
						div(class="w3-left")
							div(class="w3-btn MatchAddRow" onclick="addNewMatchRow()") 
								span(class="w3-xlarge") +
	div(class="w3-section w3-auto")
		button(class="w3-btn theme-submit" type="submit" id="submit") Submit
	//-Current row that the user can input a match for. Declared up here so we can change row_number to "Model" down below.
	script var currentMatchRow = #{row_number - 1}; var currentTeams = JSON.parse(`!{JSON.stringify(teamNumbers)}`);
	div(class="w3-hide")
		//-Model match sched input for duplicating with JS
		div(id="MatchRowModel")
			- row_number = "Model";
			include templates/matchscheduleinput
		//-Model + btn for duplicating with JS	
		div(id="MatchAddOneModel")
			div(class="w3-col w3-padding" id=`MatchAddOne_${row_number}`)
				div(class="w3-col m3 l2") &nbsp;
				div(class="w3-col m3 l2 w3-margin-top")
					div(class="w3-left")
						div(class="w3-btn MatchAddRow" onclick="addNewMatchRow()") 
							span(class="w3-xlarge") +
	script(src=`${fileRoot}/js/script-matchschedule.js`)