extends ../layout

block content
	style.
		html{
			overflow: visible;
		}
		.unwanted-team{
			text-decoration: line-through;
		}
		.wanted-team{
			font-weight: 800;
		}
	include ../reports/templates/heatmap
	h2 Alliance Selection Data
	p.i.
		The two buttons on the left can keep track of preferred (and otherwise) teams for Alliance Selection.
		<br>Numbers under the "V" are visible and sortable by your scouting lead on the <a class="link" href="/dashboard/allianceselection" target="_blank">Alliance Selection dashboard</a>.
	p.i Don't pull your punches! Only people who have logged in to your organization can see these numbers.
	if (aggdata)
		- var aggRangeMap = [];
		for scoreItem in currentAggRanges
			- aggRangeMap[scoreItem.key] = scoreItem;
		table(class="w3-table" id="metricTable")
			tr
				th(colspan=2 no-sort) Priority
				th(class="w3-center" onclick="w3.sortHTML('#metricTable','.item', 'td:nth-child(1)')") V
				th(class="w3-center" onclick="w3.sortHTML('#metricTable','.item', 'td:nth-child(2)')") Team
				th(class="w3-center" onclick="w3.sortHTML('#metricTable','.item', 'td:nth-child(3)')") Rank
				- var colIdx = 4;
				for item in layout
					-//if (item.type == 'checkbox' || item.type == 'counter' || item.type == 'badcounter')
					if (matchDataHelper.isQuantifiableType(item.type))
						- var text = item.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
						th(class="w3-right-align" onclick=`w3.sortHTML('#metricTable','.item', 'td:nth-child(${colIdx})')`)= result2
						- colIdx++
			for row in aggdata
				tr
					td(style="padding: 2px!important;")
						button(class="w3-button theme-red scouting-counter sc-small" onclick=`setValue('${row._id}', -1)` type="button") -
					td(style="padding: 2px!important;")
						button(class="w3-button w3-hover-green theme-submit scouting-counter sc-small" onclick=`setValue('${row._id}', 1)` type="button") +
					td(class="w3-center" team-value key=row._id)= row.value
					//- Change the team number's class depending on the row value
					td(class="w3-center" team-number key=row._id class=(row.value > 0 ? 'wanted-team' : row.value < 0 ? 'unwanted-team' : ''))= row._id.substr(3)
					td(class="w3-right-align")= row.rank
					for item in layout
						-//if (item.type == 'checkbox' || item.type == 'counter' || item.type == 'badcounter')
						if (matchDataHelper.isQuantifiableType(item.type))
							- var valStyle = 'w3-right-align w3-text-white'
							- if (row[item.key] == 0) valStyle = 'w3-right-align w3-text-gray'
							if (aggRangeMap[item.key])
								td(class=`${valStyle}` style=`background-color: rgb(${getValR(aggRangeMap[item.key].AVGmin, aggRangeMap[item.key].AVGmax, row[item.key])},${getValG(aggRangeMap[item.key].AVGmin, aggRangeMap[item.key].AVGmax, row[item.key])},${getValB(aggRangeMap[item.key].AVGmin, aggRangeMap[item.key].AVGmax, row[item.key])})`)= row[item.key]
							else
								td(class=`${valStyle}`)= row[item.key]
	else
		p <i>Insufficient data at this time, come back later!</i>
	script.
		function setValue(teamKey, value)
		{
			console.log("teamKey " + teamKey + ", value " + value);
			
			$.post('/manage/allianceselection/updateteamvalue', {key: teamKey, value: value})
				.done(msg => {
					//- Update the row with the team's new value
					var newValue = msg.value;
					if (msg.value == 0) newValue = '';
					
					$(`td[team-value][key="${msg.team_key}"]`).text(newValue);
					if (newValue == 0)
						$(`td[team-number][key="${msg.team_key}"]`).removeClass('wanted-team', 'unwanted-team');
					else if (newValue > 0)
						$(`td[team-number][key="${msg.team_key}"]`).removeClass('unwanted-team').addClass('wanted-team');
					else
						$(`td[team-number][key="${msg.team_key}"]`).removeClass('wanted-team').addClass('unwanted-team');
				})
				.fail(err => {
					NotificationCard.error(err.statusText);
				});
		}

		$('th:not([no-sort])').click(function(){
			var table = $(this).parents('table').eq(0)
			var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index() + 1 /* the "Priority" header takes up 2 */))
			this.asc = !this.asc
			if (!this.asc){rows = rows.reverse()}
			for (var i = 0; i < rows.length; i++){table.append(rows[i])}
		})
		function comparer(index) {
			return function(a, b) {
				var valA = getCellValue(a, index), valB = getCellValue(b, index);
				if (valA === '') valA = 0; if (valB === '') valB = 0; // Treat empty as 0 for sorting the "V" column
				return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
			}
		}
		function getCellValue(row, index){ return $(row).children('td').eq(index).text() }