//-
	Org management index. Provides links to various org/member management pages.
		manage.js
		'/manage'
	//
extends ../layout
include ../mixins/yearsSelect
block content
	style.
		.events-container{
			height: 400px;
			overflow-y: scroll;
		}
		.event-row{
			cursor: pointer;
		}
		@media(min-width: 601px) {
			.events-container::-webkit-scrollbar {width: 15px;}
			.events-container::-webkit-scrollbar-track {background: #00000000;}
			.events-container::-webkit-scrollbar-thumb {background: #808090;}
			.events-container::-webkit-scrollbar-thumb:hover {background: #555;}
		}
		/* JL note: might put this in the LESS... */
		.gear-btn {
			margin: 8px 4px;
		}
	div(class="w3-auto")
		h3=title
		hr 
		h4 
			if currentEvent
				div!=msg('manage.event.currentEvent', {event: currentEvent.key})
				div(class="unimportant") (#{currentEvent.name})
			else 
				div!=msg('manage.event.currentEvent', {event: msg('manage.event.noEvent')})
		//- Scouters
		h5!=msg('layout.nav.manage.scouters.main')
				
		a(href="/manage/scoutingaudit")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('layout.nav.manage.scouters.audit')
		a(href="/manage/assignments")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.assignments.pit')
		a(href="/manage/assignments/matches")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.assignments.match')
		a(href="/manage/assignments/swappitassignments")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.assignments.swapPitAssignments')
		a(href="/manage/assignments/swapmatchscouters")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.assignments.swapMatchAssignments')
		a(href="/manage/members/present")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('layout.nav.manage.scouters.present') 
		//- Event data
		br 
		h5!=msg('manage.event.main')
		a(href="/manage/currentevent/matches") 
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.event.matches') 
		a(href="/manage/allianceselection") 
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.event.allianceSelection')
		//- 2022-03-19 JL: No need to put dashboard/allianceselection in the manage homepage
		//- a(href="/dashboard/allianceselection") 
		//- 	div(class="gear-btn theme-link w3-btn")
		//- 		span Track/simulate alliance selection
		a(href="manage/currentevent/getcurrentteams") 
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.event.getCurrentTeams')
		a(href="/admin/sync/recalcderived") 
			div(class="gear-btn theme-link w3-btn")
				span!=msg('manage.event.recalcDerived')
		//- Manual data links
		h5!=msg('manage.event.manual')
		a(href="/manage/manualdata/teams")
			div(class="gear-btn theme-link w3-btn")
				span(class="sprite sp-16 sp-edit sp-inline")
				span!=msg('manage.event.editTeams')
		a(href="/manage/manualdata/matchschedule")
			div(class="gear-btn theme-link w3-btn")
				span(class="sprite sp-16 sp-edit sp-inline")
				span!=msg('manage.event.editMatchSchedule')
		a(href="/manage/manualdata/matchresults")
			div(class="gear-btn theme-link w3-btn")
				span(class="sprite sp-16 sp-edit sp-inline")
				span!=msg('manage.event.editMatchResults')
		a(href="/manage/manualdata/rankings")
			div(class="gear-btn theme-link w3-btn")
				span(class="sprite sp-16 sp-edit sp-inline")
				span!=msg('manage.event.editRankings')
		hr
		//- Member Management
		h4!=msg('layout.nav.manage.members.main')
		a(href="/manage/members")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('layout.nav.manage.members.list')
		a(href="/manage/members/passwords")
			div(class="gear-btn theme-link w3-btn")
				span!=msg('layout.nav.manage.members.passwords')
		
		h4 Organization configuration
		//a(href="/manage/config/pitsurvey") 
			div(class="gear-btn theme-link w3-btn")
				span Configure pit survey layout
		a(href="/manage/config") 
			div(class="gear-btn theme-link w3-btn")
				span Organization setup
		a(href="/manage/config/editform?form_type=pitscouting") 
			div(class="gear-btn theme-link w3-btn")
				span Set up Pit Scouting form
		a(href="/manage/config/editform?form_type=matchscouting") 
			div(class="gear-btn theme-link w3-btn")
				span Set up Match Scouting form
		a(href="/user/preferences/reportcolumns") 
			div(class="gear-btn theme-link w3-btn")
				span Configure report columns
		a(href="/manage/config/uploads") 
			div(class="gear-btn theme-link w3-btn")!=msg('manage.config.manageFormImages')
		div(class="w3-section")
		div(class="" id="setCurrentEvent")
			h4!=msg('manage.event.setCurrentEvent')
			form(name="setCurrentEvent" method="post" action="/manage/setcurrent")
				div(class="w3-threequarter")
					div(class="w3-left w3-padding-small")
						select(class="theme-input w3-left" id="eventYearSelect")
							+yearsSelect(years, eventListYear)
					div(class="w3-rest w3-padding-small")
						input#setEvent(class="theme-input w3-rest w3-no-border theme-inline-padding w3-block" placeholder="Search for events from this year, or enter an event key directly" type="text", name="event_key")
			div(class="w3-padding-small w3-rest")
				button#btnSubmit(class="theme-submit w3-btn w3-block" type="submit")!=msg('manage.event.setCurrentEventKey')
			hr 
			div(class="events-container")
				table#events(class="w3-table w3-bordered")
					tr 
						th(style="width: 60%")!=msg('name') 
						th!=msg('date') 
						th!=msg('key') 
					each event in events
						tr(class="w3-hover-white event-row item" onclick=`fillSetEvent('${event.key}')`)
							td(class="w3-padding-16" event-name-for=event.key)=event.name 
							td(class="w3-padding-16")=event.start_date
							td(class="w3-padding-16")=event.key
							td(style="display: none;")=event.city
							td(style="display: none;")=event.country
	script.
		$(() => {
			$("#setEvent").on('input', ev => {
				const value = ev.target.value;
				w3.filterHTML('#events', '.item', value);
			});
			
			// Refresh the table with the selected year
			$('#eventYearSelect').on('change', (ev) => {
				const value = ev.target.value;
				location.hash = 'setCurrentEvent';
				location.search = 'eventListYear=' + ev.target.value;
			})
			
			
			$('#btnSubmit').on('click', async () => {
				let eventKey = $('#setEvent').val();
				//- If they click "set event key" with nothing written, prompt to confirm that they wanna clear the set event
				if (!eventKey.trim()) {
					let result = await Confirm.show(!{msgJs("manage.event.confirmClear", {orgName: org.nickname})})
					if (result.cancelled === false) {
						$('form[name=setCurrentEvent]').submit();
					}
				}
				//- Submit as normal if an event key has been typed in
				else {
					$('form[name=setCurrentEvent]').submit();
				}
			});
		});
		
		async function fillSetEvent(value){
			//- 2022-03-26 JL: Clicking on the header will now show a prompt & submit the form instead of just populating the key input
			var eventName = $(`[event-name-for=${value}]`).text();
			var result = await Confirm.show(!{msgJs("manage.event.confirmSetEvent", {orgName: org.nickname})}.replace('{eventName}', eventName)); // JL: Jank, combining pug mixins with JS like this, but the .replace() seems to work
			if (result.cancelled === false) {
				$("#setEvent").val(value);
				//- $("#setEvent").trigger('input');
				$('form[name=setCurrentEvent]').submit();
			}
		}