//-
	Admin index. Provides links to various administative pages.
	PARAM
		current		[String] Current event key.
	CALLED FROM
		adminindex.js	'/'
	//
extends ../layout
block content
	h3=title
	div(class="w3-container w3-section")
		h4 Member Management
		a(href="/manage/scoutingaudit") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Scouting audit
		a(href="/manage/scoutingpairs") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Scouting pairs
		a(href="/manage/members") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Manage Members
		a(href="/manage/members/present") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Set who is present at current event
		a(href="/manage/scoutingpairs/swapmembers") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Swap out/in match scouts
		div(class="w3-container")
			a(href="/user/resetpassword")
				div(class="gear-btn theme-link w3-btn w3-section")
					span  Reset User Password
	div(class="w3-container w3-section")
		h4 Current Event - #{current}
		a(href="/manage/currentevent/matches") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span See matches for current event
		a(href="allianceselection") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Alliance selection data
		a(href="manage/currentevent/getcurrentteams") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Update list of current teams
	div(class="w3-container w3-section")
		h4 Organization Configuration
		a(href="/manage/config/pitsurvey") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Configure pit survey layout
		form#setDefaultPassword(name="setDefaultPAssword" method="post" action="/manage/setdefaultpassword")
			div(class="w3-padding-small w3-show-inline-block")
				input#defaultPassword(name="defaultPassword" class="theme-input w3-no-border" placeholder="New Default Password" type="text")
			div(class="w3-padding-small w3-show-inline-block")
				button#btnSubmit(class="theme-submit w3-btn" onclick="confirmSetDefaultPassword()") Change default password for #{org.nickname}
	div(class="w3-container w3-section")
		h4 API Data Management
		a(href="/manage/data/events") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Load/Update events
		form#setCurrentEvent(name="setCurrentEvent" method="post" action="/manage/setcurrent")
			div(class="w3-padding-small w3-show-inline-block")
				input#setEvent(class="theme-input w3-no-border theme-inline-padding" placeholder="Event ID" type="text", name="eventId")
			div(class="w3-padding-small w3-show-inline-block")
				button#btnSubmit(class="theme-submit w3-btn" type="submit") Set current event ID
	script.
		function confirmSetDefaultPassword(){
			
			var newDefaultPassword = $("#defaultPassword").val();
			
			if(confirm(`Are you sure you want to change #{org.nickname} password to ${newDefaultPassword}?`)){
				$("#setDefaultPassword").submit();
			}
		}