//-
	Index Page to select an organization.
		index.js
		'/'
	//
extends ./layout
block content
	style.
		.gear-btn{margin: 0;}
		.theme-link .sprite{position: relative; top: 1px;} /* Sprites on the links are just ever so slightly too high */
		.w3-radio{top: -3px;}
		.theme-link{white-space: normal;}
	//- If there's no selected-button cookie, default to selected button
	- if (!['viewData', 'loginScout', 'learnMore'].includes(selectedButton)) selectedButton = 'viewData';
	//- Inline style tags for showing and hiding elements based on the selectedButton cookie
	- var learnMoreInvisible = (selectedButton !== 'learnMore') ? '' : 'display: none';
	- var learnMoreVisible = (selectedButton === 'learnMore') ? '' : 'display: none';
	- var viewDataVisible = (selectedButton === 'viewData') ? '' : 'display: none';
	- var scoutVisible = (selectedButton === 'loginScout') ? '' : 'display: none';
	div(class="w3-auto")
		h2 Welcome to Scoutradioz
		hr 
		h3 Are you:
		div.w3-row
			div.centered-half
				ul(class="w3-ul w3-medium w3-left-align")
					label(for="chbViewData")
						li(class="w3-no-border")
							div.w3-left.w3-margin-right
								input(type="radio" class="w3-radio" name="customer" id="chbViewData" value="viewData" checked=(selectedButton === 'viewData'))
							div.w3-rest
								span Looking to view data
					label(for="chbLoginScout")
						li(class="w3-no-border w3-display-container")
							div.w3-left.w3-margin-right
								input(type="radio" class="w3-radio" name="customer" id="chbLoginScout" value="loginScout" checked=(selectedButton === 'loginScout'))
							div.w3-rest
								span Logging in to scout
					label(for="chbLearnMore")
						li(class="w3-no-border")
							div.w3-left.w3-margin-right
								input(type="radio" class="w3-radio" name="customer" id="chbLearnMore" value="learnMore" checked=(selectedButton === 'learnMore'))
							div.w3-rest
								span Interested in learning about Scoutradioz and how your team can use it
		hr 
		div(id="blurbViewData" class="w3-medium" style=viewDataVisible)
			div
				h5.strong
					span(class="sprite sp-20 sp-radio sp-inline")
					span Scoutradioz enables teams/organizations to gather their own custom intel at competitions. 
				p Select an organization below to see what data they have collected!
			hr 
		div(id="blurbLearnMore" class="w3-left-align w3-medium" style=learnMoreVisible)
			div.w3-padding-small
				p 
					span(class="sprite sp-16 sp-radio sp-inline")
					span Scoutradioz is an FRC scouting app developed by The Gearheads which enables teams and organizations to <b>gather their own, customized intel at competitions.</b>
				p Initially created in 2018, Scoutradioz has continued to evolve and it now runs on Amazon Web Services. Here is a list of some of the features Scoutradioz offers:
				ul
					li.w3-margin <b>Modular and configurable</b> pit &amp; match scouting surveys, so your organization can pick exactly what info you want to record and show
					li.w3-margin <b>Automatic</b>, individualized pit &amp; match scouting assignments
					li.w3-margin <b>Advanced</b> reports and metrics
					li.w3-margin Event management tools such as auditing match assignments, swapping scouters in and out, and managing a list of members
					li.w3-margin And of course, it's <b>completely free!</b>
				div.w3-center.w3-margin-top
					a(class="theme-link w3-btn gear-btn" href="https://github.com/FIRSTTeam102/ScoringApp-Serverless/wiki" target="_blank")
						span(class="sprite sp-22 sp-black sp-github sp-inline")
						span See our code &amp; documentation on GitHub
				div.w3-center.w3-margin-top 
					a(class="theme-link w3-btn gear-btn" href="https://discord.gg/Mr3kyqkSrQ" target="_blank")
						span(class="sprite sp-22 sp-black sp-discord sp-inline")
						span Join our Discord
				div.w3-center.w3-margin-top
					a(class="theme-link w3-btn gear-btn" href="https://forms.gle/vRqkS5w4HpKNdLYp9" target="_blank")
						span(class="sprite sp-22 sp-black sp-org sp-inline")
						span Apply to be an Early-Access partner
				br 
				div.w3-center.w3-margin-top
					a(class="theme-link w3-btn gear-btn" href="https://www.firstinspires.org/robotics/frc" target="_blank")
						span(class="sprite sp-22 sp-black sp-first sp-inline")
						span More on <i>FIRST</i> and FRC
			hr 
		div(id="selectorg" style=learnMoreInvisible)
			h3 Please select an organization.
			div(class="w3-container w3-auto w3-padding")
				each org, i in orgs
					div.w3-padding 
						- let orglabel = org.nickname;
						- if (org.team_numbers) { orglabel = org.team_numbers.join(' & ') + ' - ' + org.nickname }
						- else if (org.team_number) orglabel = org.team_number + ' - ' + org.nickname;
						h4= orglabel
						if org.event_label
						p.theme-text-secondary @ #{org.event_label}
						//- JL: Making the "view" buttons links to the "share" feature so that web crawlers can be somewhat aware of our site structure (/frc102/home instead of /selectorg?redirectURL=home)
						div(class="org-view" style=viewDataVisible)
							- if (!redirectURL) redirectURL = '/home';
							a(class="theme-link w3-btn gear-btn" href=`/${org.org_key}${redirectURL}`) View
						div(class="org-login" style=scoutVisible)
							a(class="theme-link w3-btn gear-btn" href=`/selectorg-login?org_key=${org.org_key}&rdr=${redirectURL}`) Log in
							//- if redirectURL
							//- 	a(class="theme-link w3-btn gear-btn" href=`/${org.org_key}${redirectURL}`) Log in
							//- else 
							//- 	a(class="theme-link w3-btn gear-btn" href=`/${org.org_key}/home`) Log in
					//- div(class="w3-col")
						div(class="w3-quarter w3-hide-small") &nbsp;
						div(class="w3-half w3-padding")
							- var orglabel = org.nickname;
							if (org.team_number)
								- orglabel = org.team_number + ' - ' + org.nickname;
							if redirectURL
								a(class="theme-link w3-btn w3-block" href=`/${org.org_key}${redirectURL}`)=orglabel
							else 
								a(class="theme-link w3-btn w3-block" href=`/${org.org_key}/home`)=orglabel
							if (org.event_label)
								- var eventLabel = '@ ' + org.event_label;
								p(class="theme-text-secondary")=eventLabel
						div(class="w3-quarter w3-hide-small") &nbsp;
		script.
			$('input[name=customer]').on('change', function (e) {
				requestAnimationFrame(() => {
					let val = $(e.target).val();
					let blurbViewData = $('#blurbViewData');
					let blurbLearnMore = $('#blurbLearnMore');
					let loginButtons = $('.org-login');
					let viewButtons = $('.org-view');
					let selectorg = $('#selectorg');
					
					switch(val) {
						case 'loginScout':
							blurbViewData.hide();
							blurbLearnMore.hide();
							selectorg.show();
							loginButtons.show();
							viewButtons.hide();
							break;
						case 'viewData':
							blurbViewData.show();
							blurbLearnMore.hide();
							selectorg.show();
							loginButtons.hide();
							viewButtons.show();
							break;
						case 'learnMore':
							blurbViewData.hide();
							blurbLearnMore.show();
							selectorg.hide();
							break;
						default: console.error(`unknown ${val}`);
					}
					Cookies.set('homepageButton', val);
				});
			});