//-
	Main layout page.
	All universal links and meta tags are here. Body includes nav and main at the top. Nav is outside of main. 
	Content of pages are located within main.
	PARAM
		title		[String] Title of page; if doesn't exist, will be replaced by "Untitled Page"
		alert		[String] (Optional) When page loads, create JS alert with message.
	CALLED FROM
		none
	EXTENDED FROM
		All pages
	INCLUDES
		nav
		main
	//
doctype html
html
	head
		style.
			html{
				background-color: var(--background);
				background-image: url('#{fileRoot}/images/infinite-recharge-wide-lc-preblurred-2.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-attachment: fixed;
			}
			@media(max-height: 2000px){html{background-size: auto 2080px;}}
			@media(max-height: 1800px){html{background-size: auto 1880px;}}
			@media(max-height: 1600px){html{background-size: auto 1680px;}}
			@media(max-height: 1400px){html{background-size: auto 1480px;}}
			@media(max-height: 1200px){html{background-size: auto 1280px;}}
			@media(max-height: 1000px){html{background-size: auto 1080px;}}
			@media(max-height: 900px){html{background-size: auto 980px;}}
			@media(max-height: 800px){html{background-size: auto 880px;}}
			@media(max-height: 700px){html{background-size: auto 780px;}}
			@media(max-height: 600px){html{background-size: auto 680px;}}
			@media(max-height: 500px){html{background-size: auto 580px;}}
			@media(max-height: 400px){html{background-size: auto 480px;}}
			@media(min-width: 901px){html{background-size: cover;}}
		base(href="/")
		if !title
			- title = "Untitled Page"
		title #{title} | Scoutradioz
		meta(name="keywords" content="first robotics,frc,first robotics competition,somerville,new jersey,102,team 102,gearheads,gearheads 102,the gearheads,scoring,scoring app,standings,match standings,team 102 scoring app,scouting,gearheads scouting,team 102 scouting")
		meta(name="theme-color" content="#333")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="icon" type="image/png" href=`${fileRoot}/favicon.png`)
		//link(rel="icon" sizes="192x192" href=`favicon-192x.png`)
		link(rel="stylesheet" href=`${fileRoot}/lib/w3.css`)
		link(rel="stylesheet" href=`${fileRoot}/lib/mmenu/mmenu.css`)
		link(rel="stylesheet" href=`${fileRoot}/lib/mmenu/mburger.css`)
		link(rel="stylesheet" href=`${fileRoot}/css/theme-2019.css?v=3`)
		link(rel="stylesheet" href=`${fileRoot}/css/w3-additions.css?v=2`)
		
		script(src=`${fileRoot}/lib/w3.js`)
		script(src=`${fileRoot}/lib/hammer.min.js`)
		script(src=`${fileRoot}/lib/jquery.min.js`)
		script(src=`${fileRoot}/lib/mmenu/mmenu.js`)
		script(src=`${fileRoot}/lib/mmenu/mburger.js` type='module')
		//Hacky way to force clients to download the new version of scripts/stylesheets: Add a "v" query at the end of the string
		script(src=`${fileRoot}/js/scoutradioz.js?v=2`)
		script(src=`${fileRoot}/js/FormSubmission.js`)
		script(src=`${fileRoot}/js/NotificationCard.js`)
		script(src=`${fileRoot}/js/NavMenu.js`)
		if alert && alert != "undefined"
			script.
				$(function(){
					var alertType = '#{alertType}';
					var alert = `#{alert.replace(/'/, '\'')}`;
					//alert("#{alert}");
					NotificationCard.show(alert, {
						ttl: 0, 
						exitable: true, 
						type: alertType
					});
					
					//Remove alert and type from url queries so it doesn't appear again when the user refreshes
					var url = window.location.href;
					
					if( url.indexOf('&') == -1 ){
						var queries = [url.split('?')[1]];
					}
					else{
						var queries = url.split('&');
						queries[0] = queries[0].split('?')[1];
					}
					
					//splice alert and type from queries array
					for(var i = 0; i < queries.length; i++){
						console.log(queries[i].split('='));
						if( queries[i].split('=')[0] == 'alert'){
							queries.splice(i, 1);
							i--;
						}
						else if (queries[i].split('=')[0] == 'type') {
							queries.splice(i, 1);
							i--;
						}
					}
					
					url = url.split('?')[0]
					
					//add other queries back into url
					if(queries[0]){
						
						url += '?' + queries[0];
						
						for(var i = 1; i < queries.length; i++){
							url += '&' + queries[i];
						}
					}
					
					window.history.replaceState({}, document.title, url);
				});
	
	body(class="theme-text")
		//div(class="menu-blank")
		div(id="page" style="font-size:1.1em")
			include newnav
			main(class="w3-padding w3-mobile w3-center" id="content") 
				block content
			//Footer not included becasue it modifies the body's styling.
			//-include footer