//-
	Main layout page.
	All universal links and meta tags are here. Body includes nav and main at the top. Nav is outside of main. 
	Content of pages are located within main.
		PARAM
			title		[String] Title of page; if doesn't exist, will be replaced by "Untitled Page"
			alert		[String] (Optional) When page loads, create JS alert with message.
	//
- function resolveToValue(prop, params) { if (typeof prop == 'function') return property(params); return prop; } // For nav, but may be useful in other places
- function resolveLabelTemplate(str, teamKey) { if (!str) return ''; if (teamKey) str = str.replace(/\{\{team_number\}\}/g, teamKey.substring(3)); return str; } // for scouting, currently only supports {{team_number}}
- function displayReportMetric(num, displayType) { 
-	if (isNaN(num) || num == null) return num; /*Can't work on undefined, NaN, or null*/
-	if (Number.isInteger(num)) return num; else return (num < 1) ? num.toFixed(2) : (num < 10) ? num.toFixed(1) : parseInt(num); } /*TODO: Incorporate display_as into here, e.g. percentage & time (may require modifying aggregate queries) */
include mixins/noDataFound
doctype html
html(lang=locale dir=getLocaleDirection(locale))
	head
		base(href="/")
		if fulltitle
			title= fulltitle
		else
			if !title
				- title = msg('layout.untitled')
			title #{title} | Scoutradioz
		if description
			if description == 'default'
				meta(name="description" content="Scoutradioz is a free platform that empowers FIRST Robotics teams to gather their own, customized intel at competitions.")
			else 
				meta(name="description" content=description)
		meta(name="keywords" content="first robotics,frc,first robotics competition,somerville,new jersey,102,team 102,gearheads,gearheads 102,the gearheads,scoring,scoring app,standings,match standings,team 102 scoring app,scouting,gearheads scouting,team 102 scouting")
		meta(name="theme-color" content="#333")
		//- meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		link(rel="manifest" href=`${fileRoot}/manifest.json`)
		link(rel="icon" type="image/png" href=`${fileRoot}/icon-64.png`)
		//link(rel="icon" sizes="192x192" href=`favicon-192x.png`)
		// Libraries bundled in this stylesheet: mmenu.css (Source code licensed CC-BY-NC-4.0), mburger.css (Source code licensed CC-BY-4.0), W3.css (https://www.w3schools.com/w3css/). Source code is available at https://github.com/FIRSTTeam102/ScoringApp-Serverless/tree/master/primary/public-src/less
		link(rel="stylesheet" href=`${fileRoot}/css/style.css?v=${functionVersion}`)
		style.
			#page{ background-image: url('#{fileRoot}/images/backgrounds/2022-grid.svg');}
			.sprite{ --sprites-url: url('#{fileRoot}/images/sprites.png?v=#{functionVersion}');}
		
		script(src=`${fileRoot}/lib/w3.js`)
		//script(src=`${fileRoot}/lib/hammer.min.js`)
		if useMinifiedJs
			script(src=`${fileRoot}/lib/jquery.min.js`)
		else 
			script(src=`${fileRoot}/lib/jquery.js`)
		script(src=`${fileRoot}/lib/jscookie-2.2.1.min.js`)
		script(src=`${fileRoot}/lib/mmenu/mmenu.js`)
		//- script(src=`${fileRoot}/lib/chart.min.js`) 2022-03-18 JL: Taking chart.js out of the required scripts for all pages & putting it only where needed (as of today, only Drive Team)
		script(src="https://moment.github.io/luxon/global/luxon.min.js") //uncomment if you want to test luxon stuff
		//Hacky way to force clients to download the new version of scripts/stylesheets: Add a "v" query at the end of the string
		script(src=`${fileRoot}/js/bundle.js?v=${functionVersion}`)
		if alert && alert != "undefined"
			script.
				$(function(){
					var alertType = '#{alertType}';
					var alert = `#{alert.replace(/'/, '\'')}`;
					var autofade = !{alertAutoFade ? true : false};
					
					if (autofade == 'true' || autofade == true) {
						NotificationCard.show(alert, {type: alertType});
					}
					else {
						NotificationCard.show(alert, {
							ttl: 0, 
							exitable: true, 
							type: alertType
						});
					}
					
					//Remove alert and type from url queries so it doesn't appear again when the user refreshes
					var url = window.location.href;
					
					if( url.indexOf('&') == -1 ){
						var queries = [url.split('?')[1]];
					}
					else{
						var queries = url.split('&');
						queries[0] = queries[0].split('?')[1];
					}
					
					//splice alert and type from queries array
					for(var i = 0; i < queries.length; i++){
						console.log(queries[i].split('='));
						switch(queries[i].split('=')[0]) {
							case 'alert':
							case 'type':
							case 'autofade':
								queries.splice(i, 1);
								i--;
								break;
						}
					}
					
					url = url.split('?')[0]
					
					//add other queries back into url
					if(queries[0]){
						url += '?' + queries[0];
						for(var i = 1; i < queries.length; i++){
							url += '&' + queries[i];
						}
					}
					
					window.history.replaceState({}, document.title, url);
				});
		if shortagent
			if shortagent.browser == 'IE'
				script.
					setTimeout(function(){
						alert("It appears you are using an unsupported browser. Please use a modern browser (e.g. Chromium, Firefox, Edge, and newer versions of Safari) for Scoutradioz. Note: The site is built for mobile! Try it on your Android or iPhone!");
					}, 20);
	body(class="theme-text")
		div(id="page")
			noscript
				p(style="display:block;width:100%;background-color:black;color:white;padding:8px 16px;")
					span It appears JavaScript is disabled on this browser. Scoutradioz needs a modern browser with JavaScript enabled in order to function properly.
					br
					span Supported browsers include: Chrome and other Chromium-based browsers, Firefox, Edge, Opera, and new versions of Safari.

			//- sticky header bar
			div(id="headerbar" class=`w3-card header tier-${process.env.TIER}`)
				//- Hamburger menu button
				a(id="burger")
					button(class="mburger mburger--squeeze" title=msg('layout.menu.main'))
						b
						b
						b
				//- Scoutradioz logo
				div(class="w3-show-inline-block" style="max-width: 50%;")
					span(style="display:inline-block;height:100%;vertical-align:middle;")
					a(href="/home")
						img(src=`${fileRoot}/images/brand-logos/scoutradioz-white-sm.png` class="header-logo" alt="Scoutradioz")
				- if (['dev', 'test', 'qa'].includes(process.env.TIER))
					div(class="tierlabel")= process.env.TIER
				//-div(class="w3-right w3-show-inline-block")
					img(src=`${fileRoot}/images/infinite-recharge/Horizontal-one-color.png` class="w3-image w3-margin-right" style="max-height: 100%;")
				//- Share and i18n buttons ***w3-right class cascades from right-to-left**
				div(class="w3-right w3-show-inline-block w3-text-white")
					//- Share
					- var orgKey = user ? user.org.org_key : 0;
					div(class="w3-right" style="margin-inline-end: 8px;")
						a(href=`javascript:share('${orgKey}')` class="w3-right w3-show-inline-block" title=msg('layout.share'))
							- var spriteType = isIOS ? 'sp-share-ios' : 'sp-share-android';
							div(class="w3-show-inline-block")
								span(class=`sprite sp-32 ${spriteType} sp-white` style="margin-top: 5.5px;")
							div(class="w3-show-inline-block")
								span(style="font-size:14px; margin-inline-start: 1px; position:relative; top:-9px; font-family:Tahoma,Geneva,sans-serif;")!=msg('layout.share')
					//- i18n
					//- disabled for now
					//-div(class="w3-right" style="margin-inline-end: 8px;")
						a(href="" class="w3-show-inline-block" title="Language")
							div(class="w3-show-inline-block")
								span(class="sprite sp-32 sp-language sp-i18n sp-black" style="margin-top: 7px;")
			div(style="display: none;" class="slidein-overlay" id="overlay")

			//- main content container, scrolls x independently
			div(id="content-container")
				div(id="headerlogo" class="w3-center")
					img(src=`${fileRoot}/images/rapid-react/horizontal-color.svg` alt="Rapid React" class="w3-image w3-center" style="max-height: 160px;")
					if (!isOrgSelectScreen)
						h3=eventName
				main(class="w3-padding w3-mobile w3-center" id="content")
					block content

		//- outside of page
		div(class="background")
		div(style="position: absolute; width: 0px; height: 0px; top: -50px; left: 0px;")
			input(id='shareURLInput' type='text' style="")

		//- The following mixins are for dynamically creating sliding menu items. See helpers/nav.ts for the nav menu creation process.
		- const bracketsRegex = /\[\[(.*)\]\]/; // For "unimportant text" in a label, put it inside [[]]
		- const isRTL = getLocaleDirection(locale) == 'rtl';
		mixin mmenuLabel(item)
			span
				if item.sprite
					span(class=`sprite sp-24 menu-sprite sp-${resolveToValue(item.sprite)}`)
				else 
					span(class="sprite sp-24 menu-sprite")
				//- Replace [[text]] with faded out text
				- let label = resolveToValue(item.label);
				- let match = bracketsRegex.exec(label);
				if match
					- label = label.replace(match[0], '')
					if !isRTL
						span=label
						span(class="theme-text-secondary") &nbsp;#{match[1]}
					else
						//- CD 2022-11-11: fixme: some ordering gets messed up
						span(class="theme-text-secondary") #{match[1]}&nbsp;
						span=label
				else
					span=label
		mixin mmenuItem(item)
			li
				- let href = resolveToValue(item.href);
				if href
					a(href=href)
						+mmenuLabel(item)
				else
					+mmenuLabel(item)
				if item.submenu
					- let submenu = resolveToValue(item.submenu);
					ul
						for subitem in submenu
							+mmenuItem(subitem)

		div(style="display: none;" id="menuParent")
			nav(id="menu" class="slidein-menu")
				ul
					if navcontents
						for item in navcontents
							+mmenuItem(item)

		- var navMenuTitle;
		if user
			if user.name != 'default_user'
				- navMenuTitle = msg('layout.menu.user', {user: user.name, org: user.org.nickname});
			else if user.org
				- navMenuTitle = user.org.nickname;
		else 
			- navMenuTitle = msg('layout.menu.main');

		- var locales = getLocales();
		//- CD 2022-05-27: add qqx to list when on dev tier
		if process.env.TIER == 'dev'
			- locales.push({lang: 'qqx', name: 'qqx', dir: 'ltr'});

		//-No other easy way to pass footerContents from pug to JavaScript, to my knowledge.
		script.
			var navMenuTitle = `#{navMenuTitle}`;
			var footerContents = [
				`<a href="https://team102.org" target="_blank" class="slidein-brand w3-third w3-tooltip"><span class="sprite sp-32 sp-gearheads"></span><span class="w3-tooltiptext">!{msg('layout.footer.copyright', {date: `2018-${new Date().getFullYear()}`})}</span></img></a>`,
				`<a href="https://thebluealliance.com" target="_blank" class="slidein-brand w3-third w3-tooltip"><span class="sprite sp-32 sp-tba"></span><span class="w3-tooltiptext">!{msg('layout.footer.tba')}</span></img></a>`,
				`<a href="https://www.firstinspires.org/" target="_blank" class="slidein-brand w3-third w3-tooltip"><span class="sprite sp-32 sp-first"></span><span class="w3-tooltiptext">!{msg('layout.footer.frc')}</span></img></a>`,
			];
			var locales = !{JSON.stringify(locales)};