//-
	Main layout page.
	All universal links and meta tags are here. Body includes nav and main at the top. Nav is outside of main. 
	Content of pages are located within main.
		PARAM
			title		[String] Title of page; if doesn't exist, will be replaced by "Untitled Page"
			alert		[String] (Optional) When page loads, create JS alert with message.
	//
doctype html
html
	head
		base(href="/")
		if !title
			- title = "Untitled Page"
		title #{title} | Scoutradioz
		meta(name="keywords" content="first robotics,frc,first robotics competition,somerville,new jersey,102,team 102,gearheads,gearheads 102,the gearheads,scoring,scoring app,standings,match standings,team 102 scoring app,scouting,gearheads scouting,team 102 scouting")
		meta(name="theme-color" content="#333")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="icon" type="image/png" href=`${fileRoot}/icon-64.png`)
		//link(rel="icon" sizes="192x192" href=`favicon-192x.png`)
		link(rel="stylesheet" href=`${fileRoot}/lib/w3.css`)
		link(rel="stylesheet" href=`${fileRoot}/lib/mmenu/mmenu.css`)
		link(rel="stylesheet" href=`${fileRoot}/lib/mmenu/mburger.css`)
		link(rel="stylesheet" href=`${fileRoot}/css/theme-2020.css?v=6`)
		link(rel="stylesheet" href=`${fileRoot}/css/w3-additions.css?v=6`)
		style.
			#page{ background-image: url('#{fileRoot}/images/backgrounds/city-light.png');}
			.sprite{ --sprites-url: url('#{fileRoot}/images/sprites.png?v=1');}
		
		script(src=`${fileRoot}/lib/w3.js`)
		//script(src=`${fileRoot}/lib/hammer.min.js`)
		script(src=`${fileRoot}/lib/jquery.min.js`)
		script(src=`${fileRoot}/lib/chart.min.js`)
		script(src=`${fileRoot}/lib/jscookie-2.2.1.min.js`)
		script(src=`${fileRoot}/lib/mmenu/mmenu.js`)
		//Hacky way to force clients to download the new version of scripts/stylesheets: Add a "v" query at the end of the string
		script(src=`${fileRoot}/js/scoutradioz.js?v=5`)
		script(src=`${fileRoot}/js/FormSubmission.js`)
		script(src=`${fileRoot}/js/NotificationCard.js?v=2`)
		script(src=`${fileRoot}/js/NavMenu.js?v=2`)
		if alert && alert != "undefined"
			script.
				$(function(){
					var alertType = '#{alertType}';
					var alert = `#{alert.replace(/'/, '\'')}`;
					var autofade = !{alertAutoFade ? true : false};
					
					if (autofade == 'true' || autofade == true) {
						NotificationCard.show(alert, {type: alertType});
					}
					else {
						NotificationCard.show(alert, {
							ttl: 0, 
							exitable: true, 
							type: alertType
						});
					}
					
					//Remove alert and type from url queries so it doesn't appear again when the user refreshes
					var url = window.location.href;
					
					if( url.indexOf('&') == -1 ){
						var queries = [url.split('?')[1]];
					}
					else{
						var queries = url.split('&');
						queries[0] = queries[0].split('?')[1];
					}
					
					//splice alert and type from queries array
					for(var i = 0; i < queries.length; i++){
						console.log(queries[i].split('='));
						switch(queries[i].split('=')[0]) {
							case 'alert':
							case 'type':
							case 'autofade':
								queries.splice(i, 1);
								i--;
								break;
						}
					}
					
					url = url.split('?')[0]
					
					//add other queries back into url
					if(queries[0]){
						
						url += '?' + queries[0];
						
						for(var i = 1; i < queries.length; i++){
							url += '&' + queries[i];
						}
					}
					
					window.history.replaceState({}, document.title, url);
				});
		if shortagent
			if shortagent.browser == 'IE'
				script.
					setTimeout(function(){
						alert("It appears you are using an unsupported browser. Please use a modern browser (e.g. Chromium, Firefox, Edge, and newer versions of Safari) for Scoutradioz. Note: The site is built for mobile! Try it on your Android or iPhone!");
					}, 20);
	body(class="theme-text")
		//div(class="menu-blank")
		div(id="page" style="font-size:1.1em")
			noscript 
				p(style="display:block;width:100%;background-color:black;color:white;padding:8px 16px;")
					span It appears JavaScript is disabled on this browser. Scoutradioz needs a modern browser with JavaScript enabled in order to function properly.
					br 
					span Supported browsers include: Chrome and other Chromium-based browsers, Firefox, Edge, Opera, and new versions of Safari.
			include nav
			main(class="w3-padding w3-mobile w3-center" id="content") 
				block content
			//-include footer
		div(class="background")