//-
	Slide-in navigation menu.
	Included by layout.pug.
	//
div(style="overflow-x: hidden;")
	div(id="headerbar" class="w3-card header")
		a(id="burger")
			button(class="mburger mburger--squeeze")
				b 
				b 
				b 
		div(class="w3-show-inline-block" style="max-width: 50%; height: 45px;")
			span(style="display:inline-block;height:100%;vertical-align:middle;")
			img(src=`${fileRoot}/images/brand-logos/scoutradioz-black-sm.png` class="header-logo")
		div(class="w3-right w3-show-inline-block" style="height: 45px;")
			img(src=`${fileRoot}/images/infinite-recharge/Horizontal-one-color.png` class="w3-image w3-margin-right" style="max-height: 100%;")
div(id="headerlogo" class="w3-padding w3-center")
	a(href="/home")
		img(src=`${fileRoot}/images/infinite-recharge/Horizontal-reverse.png` class="w3-image w3-center w3-padding-large" style="max-height: 160px;")
	if (!isOrgSelectScreen)
		h3=eventName
div(style="display: none;" class="slidein-overlay" id="overlay")
div(style="display: none;" id="menuParent")
	nav(id="menu" class="slidein-menu")
		ul
			li
				a(href="/home")
					span(class="sprite sp-24 sp-home menu-sprite")
					span Home
			//- Below: Shows up to anyone who has selected an organization
			if user
				//- Reports pages for current event
				li 
					span
						span(class="sprite sp-24 sp-info menu-sprite")
						span Info and Reports:&nbsp; 
						span(class="theme-text-secondary theme-strong") #{eventName}
					ul 
						if teams && teams[0]
							li
								span Teams
								ul 
									each team in teams
										li
											span #{team.team_number}: #{team.nickname}
											ul 
												li 
													a(href=`/reports/upcoming?team_key=${team.key}`) Upcoming Matches
												li 
													a(href=`/reports/teamintel?team_key=${team.key}`) Team Statistics
												li 
													a(href=`/reports/teamintelhistory?team_key=${team.key}`) Complete Statistics for #{new Date().getFullYear()}
						li 
							a(href="/reports/rankings") Current Rankings
						li 
							a(href="/reports/upcoming") Upcoming Matches
						li 
							a(href="/reports/finishedmatches") Completed Matches
						li 
							a(href="/reports/allteammetrics") Stats for All Teams
						li
							span 
								span(class="sprite sp-24 sp-download menu-sprite")
								span Export to CSV
							ul
								li
									a(href="/reports/exportdata?type=matchscouting")
										span(class="sprite sp-24 sp-download menu-sprite")
										span Export match scouting data
								li
									a(href="/reports/exportdata?type=pitscouting") 
										span(class="sprite sp-24 sp-download menu-sprite")
										span Export pit scouting data
				//- 2020-03-07, M.O'C: TEMPORARILY POINTING TO REPORTS SO UNAUTHENTICATED USERS CAN ACCESS
				li 
					//- a(href="/dashboard/drive") 
					a(href="/dashboard/driveteam") 
						span(class="sprite sp-24 sp-wheel menu-sprite")
						span Drive Team Dashboard
				li
					a(href=`/user/preferences/reportcolumns`)
						span(class="sprite sp-24 sp-sheet menu-sprite")
						span Configure report columns
				//- Below: Shows up to anyone who has "logged in"
				if user.name != 'default_user'
					//- Below: If user has VIEWER ACCESS (and is "logged in")
					if user.role.access_level >= process.env.ACCESS_VIEWER
						//No logged-in viewer-level pages yet
					//- Below: If user has SCOUTER access
					if user.role.access_level >= process.env.ACCESS_SCOUTER 
						li 
							a(href="/dashboard")
								span(class="sprite sp-24 sp-radio menu-sprite") 
								span Scouting
							ul 
								li 
									a(href="/dashboard/pits") Pit Scouting
								li 
									a(href="/dashboard/matches") Match Scouting
					//- Below: If user has TEAM ADMIN access
					if user.role.access_level >= process.env.ACCESS_TEAM_ADMIN
						li
							a(href="/manage")
								span(class="sprite sp-24 sp-settings menu-sprite")
								span Manage:&nbsp; 
								span(class="theme-text-secondary") #{user.org && user.org.nickname ? user.org.nickname : 'Organization'}
							ul 
								li 
									span Members
									ul 
										li 
											a(href="/manage/members") Member List
										li 
											a(href="/manage/scoutingaudit") Scouting Audit
										li 
											a(href="/manage/scoutingpairs") Scouting Pairs
										li 
											a(href="/manage/scoutingpairs/swapmembers") Swap in/out match scouts
										li 
											a(href="/manage/members/present") Set Present
										li 
											a(href="/manage/user/resetpassword") Reset User Password
								li 
									span Current Event 
									ul 
										li 	
											a(href="/manage/currentevent/matches") Matches 
										li 
											a(href="/manage/allianceselection") Alliance Selection Data
										li 
											a(href="/manage/currentevent/getcurrentteams") Update List of Current Teams
					//- Below: If user has GLOBAL ADMIN access
					if user.role.access_level >= process.env.ACCESS_GLOBAL_ADMIN
						li 
							a(href="/admin")
								span(class="sprite sp-24 sp-scoutradioz menu-sprite")
								span Admin
					//- Below: (Logged-in users): User-specific links (e.g. logout/change password)
					li 
						span
							span(class="sprite sp-user sp-24 menu-sprite")
							span User:&nbsp; 
							span(class="theme-text-secondary") #{user.name}
						ul 
							li 
								a(href='/user/logout') Log Out
							li 
								a(href='/user/changepassword') Change Password
				//- Below: (Anyone who selected an org) Org-related links (e.g. Switch Org/log in)
				if user.org 
					li 
						span
							span(class="sprite sp-org sp-24 menu-sprite") 
							span Org:&nbsp; 
							span(class="theme-text-secondary") #{user.org.nickname}
						ul 
							li 
								a(href='/user/switchorg') Change Organization
							if user.name == 'default_user'
								li 
									a(href='/user/login') Log In
			li 
				a(href="https://github.com/FIRSTTeam102/ScoringApp-Serverless/wiki")
					span(class="sprite sp-help sp-24 menu-sprite")
					span Need help? Check our wiki!
			
- var navMenuTitle;
if user
	if user.name != 'default_user'
		- navMenuTitle = user.name + ' - ' + user.org.nickname;
	else if user.org
		- navMenuTitle = user.org.nickname;
else 
	- navMenuTitle = 'Menu';
script var navMenuTitle = `#{navMenuTitle}`;
//-No other easy way to pass footerContents from pug to JavaScript, to my knowledge.
script.
	var footerContents = [
		`<a href="https://team102.org" target="_blank" class="slidein-brand w3-third w3-tooltip"><span class="sprite sp-32 sp-gearheads"></span><span class="w3-tooltiptext">Copyright 2020 FIRST Team 102 and Robotics Fund Inc.</span></img></a>`,
		`<a href="https://thebluealliance.com" target="_blank" class="slidein-brand w3-third w3-tooltip"><span class="sprite sp-32 sp-tba"></span><span class="w3-tooltiptext">Powered by The Blue Alliance.</span></img></a>`,
		`<a href="https://www.firstinspires.org/" target="_blank" class="slidein-brand w3-third w3-tooltip"><span class="sprite sp-32 sp-first"></span><span class="w3-tooltiptext">We are proud to be participants of FIRST Robotics Competition!</span></img></a>`,
		];
style.
	.slidein-brand{
		padding: 16px;
	}
	.slidein-brand .w3-tooltiptext{
		background-color: #eee;
		color: #000;
		padding: 8px;
		max-width: 100%;
		left: 0;
		margin-left: 0;
	}
	.slidein-brand .w3-tooltiptext::after{
		border-color: #eee transparent transparent transparent;
	}