//-
	Thank-you page. Gives credit to our Early Access Partners 
	//
extends layout
block content
	h6(class="theme-text").i!=msg('home.menu', {menu: '≡'})
	p
	div(class="w3-container w3-section")
		h1(class="theme-text")!=msg('thankyou.thanks')
		
		h2(class="theme-text")!=msg('thankyou.threestarters')
		p.
			<b>852</b> - Acropolis Robotics<br/>
			<b>8024</b> - Sparta Robotans<br/>
			<b>41</b> - RoboWarriors<br/>

		h2(class="theme-text")!=msg('thankyou.2020to2022', {year2020: 2020, year2022: 2022})
		p.
			<b>303</b> - The T.E.S.T. Team<br/>
			<b>2977</b> - Sir Lancer Bots<br/>
			<b>6894</b> - Iced Java<br/>
			<b>8745</b> - RoBeagles<br/>
			<b>5987</b> - Galaxia in memory of David Zohar<br/>
			<b>6317</b> - Disruptive Innovation<br/>

		h2(class="theme-text")!=msg('thankyou.2023inseason')
		p.
			<b>4453</b> - RedHotChiliBots Team 4453<br/>
			<b>5171</b> - Deus Ex Machina<br/>
			<b>4663</b> - Cyber Tigers<br/>
			<b>6344</b> - Yale Jiggawattz<br/>
			<b>9047</b> - TechMaker Robotics<br/>
			<b>9121</b> - Wild WEST<br/>
			<b>4467</b> - Titanium Titans<br/>
			<b>4627</b> - M Robotics<br/>
			<b>1559</b> - Devil Tech<br/>
			<b>4451</b> - Robotz Garage<br/>
			<b>68</b> - Truck Town Thunder<br/>
			<b>2882</b> - Nuts n' Boltz<br/>
			<b>8159</b> - Golden Horn<br/>
			<b>1745</b> - Richardson Area Wide Robotics<br/>
			<b>8874</b> - Richardson Area Wide Robotics<br/>
			<b>386</b> - Team Voltage<br/>
			<b>6570</b> - Whiteford Bobcats<br/>
			<b>3218</b> - Panther Robotics<br/>
			<b>6329</b> - The Bucks’ Wrath<br/>
			<b>8808</b> - SWLA Tech Pirates<br/>
			<b>2441</b> - Spartechs<br/>
			<b>3566</b> - Gone Fishin'<br/>
			<b>5090</b> - TorqueNados<br/>
			<b>6709</b> - Spudinc Big Lake Robotics<br/>
			<b>178</b> - The 2nd Law Enforcers<br/>
			<b>7034</b> - 2B Determined<br/>
			<b>5019</b> - Gearbox Heroes<br/>
			<b>5507</b> - Robotic Eagles<br/>
			<b>7530</b> - Brotherhood of Steel<br/>
			<b>5684</b> - Iron Mechs<br/>
			<b>5557</b> - BB-R8ERS<br/>
			<b>1250</b> - Gator-Bots<br/>
			<b>2847</b> - The MegaHertz<br/>
			<b>5104</b> - BreakerBots<br/>
			<b>3006</b> - Red Rock Robotics<br/>
			<b>7166</b> - Red Thunder Robotics<br/>
			<b>8574</b> - Audeamus<br/>
			<b>8841</b> - RedFins<br/>
			<b>2704</b> - Roaring Robotics<br/>
			<b>5549</b> - Gryphon Robotics<br/>
			<b>4021</b> - igKnightion<br/>
			<b>6962</b> - RobotX<br/>
			<b>2252</b> - The Mavericks<br/>
			<b>2531</b> - RoboHawks<br/>
			<b>6814</b> - Ellipse<br/>
			<b>4698</b> - Raider Robotics<br/>
			<b>4469</b> - R.A.I.D. (Raider Artificial Intelligence Division)<br/>
			<b>611</b> - Saxons<br/>
			<b>3504</b> - Girls of Steel<br/>
			<b>8300</b> - Flux Kapacitors<br/>
			<b>6504</b> - FCHS Jagwires<br/>
			<b>1389</b> - The Body Electric<br/>
			<b>7694</b> - THE IRON LIONS<br/>
			<b>1699</b> - Robocats<br/>
			<b>4652</b> - Ironmen 2<br/>
			<b>5181</b> - Explorer Robotics<br/>
			<b>1011</b> - CRUSH<br/>
			<b>4285</b> - Camo-Bots<br/>
			<b>2577</b> - Pingry Robotics<br/>
			<b>3140</b> - Flagship<br/>
			<b>4598</b> - ICARUS INNOVATED<br/>
			<b>8326</b> - GDS Mighty Hoppers<br/>
			<b>6897</b> - Astraea Robotics<br/>
			<b>5407</b> - Wolfpack Robotics<br/>
			<b>648</b> - QC ELITE Flaming Squirrels<br/>
			<b>4573</b> - Rambotics<br/>
			<b>8789</b> - The Lost 10mm Sockets<br/>
			<b>3598</b> - SEStematic Eliminators<br/>
			<b>2630</b> - Thunderbolts<br/>
			<b>1466</b> - Webb Robotics<br/>
			<b>6071</b> - The Aluminators<br/>
			<b>3468</b> - MAGNAtech<br/>
			<b>4860</b> - Salesian Ironmen<br/>
			<b>4398</b> - Gladiators<br/>
			<b>2067</b> - Apple Pi<br/>
			<b>6762</b> - Oscats<br/>
			<b>811</b> - Wild Cards<br/>
			<b>3996</b> - RIKITIK<br/>
			<b>1100</b> - Inverse Polarity<br/>
			<b>117</b> - Steel Dragons Robotics<br/>
			<b>4107</b> - Team Storm<br/>
			<b>6110</b> - Doc Botics<br/>
			<b>5113</b> - Combustible Lemons<br/>
			<b>8756</b> - Magic Valley Logic Control Sponsored by NASA<br/>
			<b>4130</b> - The Blue Devils<br/>
			<b>2872</b> - CyberCats<br/>
			<b>247</b> - Da Bears<br/>
			<b>4336</b> - Ramageddon Robotics<br/>

		h2(class="theme-text")!=msg('thankyou.2023offseason')
		p.
			<b>5895</b> - Peddie Robotics<br/>
			<b>6738</b> - Excalibur<br/>
			<b>3658</b> - Robo - Beavers<br/>
			<b>3729</b> - The Raiders<br/>
			<b>7117</b> - Robotic Dragons<br/>
			<b>4255</b> - Robodores<br/>
			<b>8817</b> - Buccaneer Robotics<br/>
			<b>1899</b> - Saints Robotics<br/>
			<b>293</b> - SPIKE<br/>
			<b>1339</b> - Angelbotics<br/>
			<b>9082</b> - No Limit<br/>
			<b>364</b> - Team Fusion 364<br/>
			<b>6078</b> - RoboRams<br/>
