h5=element.label
div(class="w3-half" style="float: none; margin: auto;")
	- var reversed = (element.options.step < 0); // If the step is negative, we reverse the direction of the slider
	- element.options.step = Math.abs(element.options.step); // however, negative steps break slider elements so we must reset it to positive
	div(class="slider-container no-select")
		input(type="range" class=("slider no-outline"+(reversed?' reversed':'')) time-slider=reversed /* if reversed is false, it won't given the "time-slider" attribute */
			name=element.id min=element.options.min max=element.options.max step=element.options.step value=(answer || element.options.min))
		div(class="slider-before" style=(reversed ? 'right:0px' : '') /* This puts the pretty visual part of the slider on the right */
			before slider-name=element.id)
	div(class="slider-labels")
		label(class="slider-label-left")= reversed ? element.options.max : element.options.min
		label(class="slider-label-center" slider-name=element.id)=element.options.min
		label(class="slider-label-right")= reversed ? element.options.min : element.options.max
	br 
	br 