|
| var #{element.id} = 0;
|
| function updateCounter_#{element.id}(i)
| {
| 	#{element.id} += i;
| 	if (#{element.id} < 0) #{element.id} = 0; 
|	//document.getElementById("#{element.id}").innerHTML = "#{element.label}: " + #{element.id};
|	document.getElementById("#{element.id}").value = #{element.id};
|	//document.getElementById("#{element.id}FormInput").value = #{element.id};
| }