//-
	Admin member management page. Can edit details for any individual member
	 or delete members or create a new one.
	PARAM
		members		[Object Array]	From db.teammembers
	CALLED BY
		teammembers.js '/admin/teammembers/'
	//
extends ../layout
block content
	div(class="w3-container")
		div(class="w3-row")
			div(class="w3-col m3 w3-padding-small") actions
			div(class="w3-col m3 w3-padding-small") name
			div(class="w3-col m2 w3-padding-small") subteam
			div(class="w3-col m2 w3-padding-small") class
			div(class="w3-col m2 w3-padding-small") yrs on team
		each member in members
			div(class="w3-row")
				div(class="w3-col s12 m0")
					p(class="theme-spacer")
				form(id=`deleteMember${member._id}` action="/admin/teammembers/deletemember" method="post")
					input(type="hidden" name="memberId" value=member._id)
				div(class="w3-col s5 m1 w3-padding-small")
					button(class="w3-btn theme-red w3-block" style="padding: 8px 0px" onclick=`confirmDelete('${member.name}', '${member._id}')`) Delete
				form(id="updateMember" action="/admin/teammembers/updatemember" method="post")
					input(type="hidden" name="memberId" value=member._id)
					div(class="w3-col s7 m2 w3-padding-small")
						button(class="w3-btn theme-submit w3-block" type="submit") Update
					div(class="w3-col m3 w3-padding-small")
						input(type="text" value=member.name name="name" class="w3-input theme-input w3-no-border theme-inline-padding")
					div(class="w3-col m2 w3-padding-small")
						select(class="w3-select theme-input w3-no-border" name="subteam")
							- options = ["mech", "elec", "prog", "exec", "lead", "driv", "support"];
							each option in options
								- if (member.subteam == option)
									option(value=option selected)= option
								- else
									option(value=option)= option
					div(class="w3-col m2 w3-padding-small")
						select(class="w3-select theme-input w3-no-border" name="className")
							- classNames = ["freshman", "sophomore", "junior", "senior", "middleschool", "mentor", "parent" ];
							each option in classNames
								- if (member.className == option)
									option(value=option selected)= option
								- else
									option(value=option)= option
					div(class="w3-col m2 w3-padding-small")
						input(type="text" value=member.years name="years" class="w3-input theme-input w3-no-border theme-inline-padding")
		div(class="w3-row")
			form(action="/admin/teammembers/addmember" method="post")
				div(class="w3-col m2 w3-padding-small")
					button(type="submit" class="w3-btn theme-submit w3-block") Add
				div(class="w3-col m3 w3-padding-small")
					input(type="text" class="w3-input theme-input w3-block w3-no-border theme-inline-padding" name="name" placeholder="name")
				div(class="w3-col m2 w3-padding-small")
					select(name="subteam" class="w3-select theme-input w3-no-border")
						- options = ["mech", "elec", "prog", "driv", "lead", "exec", "support"];
						each option in options
							option(value=option)= option
				div(class="w3-col m3 w3-padding-small")
					select(name="className" class="w3-select theme-input w3-no-border")
						- options = ["freshman", "sophomore", "junior", "senior", "middleschool", "mentor", "parent" ];
						each option in options
							option(value=option)= option
				div(class="w3-col m2 w3-padding-small")
					input(class="w3-input theme-input w3-no-border theme-inline-padding" name="years" type="text" placeholder="years on team")
	script.
		function confirmDelete(memberName, memberId){
			if(confirm('Delete member: "' + memberName + '"?')){
				console.log($("#deleteMemberForm"+ memberId))
				$("#deleteMember"+ memberId).submit();
			}
		}