extends ../layout
include ../reports/mixins/metricTables
block content
	style.
		table {
			margin: auto;
			border-collapse: collapse;
			overflow-x: scroll;
		}
		td, th {
			padding: 8px;
			text-align: left;
			border-left: 1px solid rgba(255, 255, 255, 0.2);
		}
		th {
			max-width: 80px;
		}
		tr:nth-child(odd) {
			background: rgba(255, 255, 255, 0.2)
		}
	h3=title
	table(class="W3-table")
		tr
			th(style="max-width: unset;") Org key
			th(style="max-width: 120px;") Org name
			th # Match scouting entries
			th # Pit scouting entries
			th # Scouting groups
			th # Users
			th # Team admins
			th # Team admins with passwd
			th # Image uploads
			th # Deleted uploads
			th # Org team values
			th Event
			th Start date
			th # Match scouting @ event
			th # Pit scouting @ event
		each org in orgMetrics
			tr 
				td=org.org_key
				td=org.nickname
				td=org.matchScoutingData
				td=org.pitScoutingData
				td=org.scoutingPairs
				td=org.users
				td=org.teamAdmins
				td=org.teamAdminsWithPassword
				td=org.imageUploads
				td=org.deletedImageUploads
				td=org.orgTeamValues
				td!=org.event ? `${org.event.name} <span class="unimportant">${org.event.key}</span>` : ''
				td!=org.event ? `<span style="white-space: nowrap;">${org.event.start_date}</span>` : ''
				td=org.matchscoutingAtEvent 
				td=org.pitscoutingAtEvent 
	+tableSorter()
	//- h3 Pit scouting data
	//- table(class="W3-table w3-left-align")
	//- 	tr
	//- 		th Org key
	//- 		th Org name
	//- 		th # Pit scouting entries
	//- 	each item in pitScouting
	//- 		- let org = item.org[0];
	//- 		tr
	//- 			td=org.org_key
	//- 			td=org.nickname
	//- 			td=item.count