//-
	Administrative page for all orgs. Provides options to edit other orgs' configuration.
		admin/indexadmin.js	
		'/admin/orgs'
	//
extends ../layout
block content

	mixin subteam(index, subteam)
		div(id=`subteam_${index}`)
			div(class="w3-col s4 w3-padding-small")
				input(type="text" class="theme-input" name=`subteams_${index}_label` value=subteam.label)
			div(class="w3-col s4 w3-padding-small")
				input(type="text" class="theme-input" name=`subteams_${index}_subteamkey` value=subteam.subteam_key)
			div(class="w3-col s4 w3-padding-small")
				select(class="theme-input" name=`subteams_${index}_pitscout`)
					if subteam.pit_scout == true
						option(value="0") false
						option(value="1" selected) true
					else
						option(value="0" selected) false
						option(value="1") true
	mixin classname(index, classname)
		div(id=`classname_${index}`)
			div(class="w3-col s3 w3-padding-small")
				input(type="text" class="theme-input" name=`classes_${index}_label` value=classname.label)
			div(class="w3-col s3 w3-padding-small")
				input(type="text" class="theme-input" name=`classes_${index}_classkey` value=classname.class_key)
			div(class="w3-col s3 w3-padding-small")
				input(type="text" class="theme-input" name=`classes_${index}_seniority` value=classname.seniority)
			div(class="w3-col s3 w3-padding-small")
				select(class="theme-input" name=`classes_${index}_youth`)
					if classname.youth == true
						option(value="0") false
						option(value="1" selected) true
					else
						option(value="0" selected) false
						option(value="1") true
	
	style.
		.w3-col input,.w3-col button,.w3-col select{
			width: 100%;
		}
	div(class="w3-auto w3-content")
		h2 Manage organizations
		each org in orgs
			div(class="w3-row")
				hr 
				//p=JSON.stringify(org)
				//h4=org.org_key
				form(id=`updateOrg_${org.org_key}` method="post" action="/admin/orgs")
					div(class="w3-row")
						div(class="w3-col s6 m2 w3-padding-small")
							input(disabled type="text" class="theme-input w3-disabled" value=org.org_key)
							input(type="hidden" name="org_key" value=org.org_key)
						div(class="w3-col s6 m3 w3-padding-small")
							input(type="text" class="theme-input" name="nickname" value=org.nickname)
						div(class="w3-col s6 m2 w3-padding-small")
							input(type="text" class="theme-input" name="team_key" value=org.team_key)
						div(class="w3-col s6 m3 w3-padding-small")
							input(type="text" class="theme-input" name="default_password" placeholder="Reset default password?")
						div(class="w3-col m2 w3-padding-small")
							button(type="submit" class="w3-btn theme-submit") Update Org
					div(class="w3-row")
						div(class="w3-col m6 w3-padding-small")
							h4 Subteams
							div(class="w3-col s4") Label
							div(class="w3-col s4") Key
							div(class="w3-col s4") Pit scout?
							div(id=`subteams_${org.org_key}`)
								each subteam, i in org.config.members.subteams 
									+subteam(i, subteam)
							div(class="w3-col s6 w3-padding-small")
								div(class="w3-btn w3-show-block theme-submit" onclick=`addSubteam('${org.org_key}')`) Add New Subteam
							div(class="w3-col s6 w3-padding-small")
								div(class="w3-btn w3-show-block theme-red" onclick=`deleteSubteam('${org.org_key}')`) Delete Last Subteam
						div(class="w3-col m6 w3-padding-small")
							h4 Classes
							div(class="w3-col s3") Label
							div(class="w3-col s3") Key
							div(class="w3-col s3") Seniority
							div(class="w3-col s3") Youth?
							div(id=`classes_${org.org_key}`)
								each classname, i in org.config.members.classes
									+classname(i, classname)
							div(class="w3-col s6 w3-padding-small")
								div(class="w3-btn w3-show-block theme-submit" onclick=`addClass('${org.org_key}')`) Add New Class
							div(class="w3-col s6 w3-padding-small")
								div(class="w3-btn w3-show-block theme-red" onclick=`deleteClass('${org.org_key}')`) Delete Last Class
	div(class="w3-hide")
		div#subteamTemplate
			+subteam('num', {label: '', key: '', pit_scout: true})
		div#classTemplate
			+classname('num', {label: '', key: '', seniority: '', youth: true})
		
	script.
		function addClass(orgKey) {
			//Find out what to name this index
			for (var i = 0; i < 100; i++) {
				if ($(`#classes_${orgKey} #classname_${i}`).length == 0) {
					break;
				}
			}
			var newIdx = i;
			
			var template = $('#classTemplate')
			.clone()
			.attr('id', `classname_${newIdx}`)
			.appendTo(`#classes_${orgKey}`);
			
		}
		function deleteClass(orgKey) {
			//find lastmost class
			for (var i = 0; i < 100; i++) {
				if ($(`#classes_${orgKey} #classname_${i}`).length == 0) {
					break;
				}
			}
			var lastIdx = i - 1;
			
			$(`#classes_${orgKey} #classname_${lastIdx}`).remove();
		}
		function addSubteam(orgKey) {
			//Find out what to name this index
			for (var i = 0; i < 100; i++) {
				if ($(`#subteams_${orgKey} #subteam_${i}`).length == 0) {
					break;
				}
			}
			var newIdx = i;
			
			var template = $('#subteamTemplate')
			.clone()
			.attr('id', `subteam_${newIdx}`)
			.appendTo(`#subteams_${orgKey}`);
			$('input[name=subteams_num_label]').attr('name', `subteams_${newIdx}_label`);
			$('input[name=subteams_num_subteamkey]').attr('name', `subteams_${newIdx}_subteamkey`);
			$('input[name=subteams_num_pitscout]').attr('name', `subteams_${newIdx}_pitscout`);
		}
		function deleteSubteam(orgKey) {
			//find lastmost subteam
			for (var i = 0; i < 100; i++) {
				if ($(`#subteams_${orgKey} #subteam_${i}`).length == 0) {
					break;
				}
			}
			var lastIdx = i - 1;
			
			$(`#subteams_${orgKey} #subteam_${lastIdx}`).remove();
		}