//- Mixins for organization config pages
mixin subteam(index, subteam)
	div(id=`subteam_${index}` class="w3-row")
		div(class="up-caret clickable w3-left" subteam-caret) &#9650;
		div(class="w3-rest")
			div(class="w3-col s4 w3-padding-small")
				input(type="text" class="theme-input" name=`subteams_${index}_label` value=subteam.label)
			div(class="w3-col s4 w3-padding-small")
				input(type="text" class="theme-input" name=`subteams_${index}_subteamkey` value=subteam.subteam_key)
			div(class="w3-col s4 w3-padding-small")
				select(class="theme-input" name=`subteams_${index}_pitscout`)
					if subteam.pit_scout == true
						option(value="0") false
						option(value="1" selected) true
					else
						option(value="0" selected) false
						option(value="1") true
mixin classname(index, classname)
	div(id=`classname_${index}` class="w3-row")
		div(class="up-caret clickable w3-left" classname-caret) &#9650;
		div(class="w3-rest")
			div(class="w3-col s3 w3-padding-small")
				input(type="text" class="theme-input" name=`classes_${index}_label` value=classname.label)
			div(class="w3-col s3 w3-padding-small")
				input(type="text" class="theme-input" name=`classes_${index}_classkey` value=classname.class_key)
			div(class="w3-col s3 w3-padding-small")
				input(
					type="number"
					class="theme-input"
					name=`classes_${index}_seniority`
					min=0
					max=1000
					value=classname.seniority
					)
			div(class="w3-col s3 w3-padding-small")
				select(class="theme-input" name=`classes_${index}_youth`)
					if classname.youth == true
						option(value="0") false
						option(value="1" selected) true
					else
						option(value="0" selected) false
						option(value="1") true
style.
	.w3-col input,.w3-col button,.w3-col select{
		width: 100%;
	}
	.up-caret {
		opacity: 0;
		padding: 13px 4px;
	}
	.w3-row:hover > .up-caret {
		opacity: 1;
	}
//- Org config page. isGlobalAdminPage is whether to show global-admin controls which show up at /admin/orgs
mixin orgConfig(org, isGlobalAdminPage)
	form(id=`updateOrg_${org.org_key}` method="post" action=isGlobalAdminPage ? "/admin/orgs" : "/manage/config")
		div(class="w3-row")
			//- Top row if global-admin
			if isGlobalAdminPage
				div(class="w3-col s6 m1 w3-padding-small")
					input(disabled type="text" class="theme-input w3-disabled" value=org.org_key)
					input(type="hidden" name="org_key" value=org.org_key)
				div(class="w3-col s6 m3 w3-padding-small")
					input(type="text" class="theme-input" name="nickname" value=org.nickname)
				div(class="w3-col s6 m2 w3-padding-small")
					input(type="text" class="theme-input" name="team_key" value=(org.team_keys ? org.team_keys.join(', ') : org.team_key) placeholder="Team key OR keys (comma separated)")
				div(class=`w3-col s6 m3 w3-padding-small`)
					input(type="text" class="theme-input" name="default_password" placeholder="Reset default password?")
				div(class="w3-col m2 w3-padding-small")
					button(type="submit" class="w3-btn theme-submit") Update Org
				div(class="w3-col m1 w3-padding-small")
					div(class="w3-btn theme-red" onclick=`deleteOrg('${org.org_key}')`)
						span(class="sprite sp-24 sp-inline no-margin sp-delete")
			//- Top row if team manager
			else
				div(class="w3-col s0 m2 w3-padding-small") ID
				div(class="w3-col s0 m8 w3-padding-small") Nickname
				div(class="w3-col s0 m2 w3-padding-small") &nbsp;
				div(class="w3-col s6 m2 w3-padding-small")
					input(disabled type="text" class="theme-input w3-disabled" value=org.org_key)
					input(type="hidden" name="org_key" value=org.org_key)
				div(class="w3-col s6 m8 w3-padding-small")
					input(type="text" class="theme-input" name="nickname" value=org.nickname)
				div(class="w3-col m2 w3-padding-small")
					button(type="submit" class="w3-btn theme-submit") Update Org
		div(class="w3-row")
			div(class="w3-col m6 w3-padding-small")
				h4 Subteams
				div(class="w3-col s4") Label
				div(class="w3-col s4") 
					span Key&nbsp;
					span(class="w3-tooltip sprite sp-help sp-16") &nbsp;
						span(class="w3-tooltiptext") Write a unique identifier for each subteam. After you create a subteam, the label can change but the key should not change.
				div(class="w3-col s4") Pit scout?
				div(id=`subteams_${org.org_key}`)
					each subteam, i in org.config.members.subteams 
						+subteam(i, subteam)
				div(class="w3-col s6 w3-padding-small")
					div(class="w3-btn w3-show-block theme-submit" onclick=`addSubteam('${org.org_key}')`) Add New Subteam
				div(class="w3-col s6 w3-padding-small")
					div(class="w3-btn w3-show-block theme-red" onclick=`deleteSubteam('${org.org_key}')`) Delete Last Subteam
			div(class="w3-col m6 w3-padding-small")
				h4 Classes
				div(class="w3-col s3") Label
				div(class="w3-col s3") 
					span Key&nbsp;
					span(class="w3-tooltip sprite sp-help sp-16") &nbsp;
						span(class="w3-tooltiptext") Write a unique identifier for each class. After you create a class, the label can change but the key should not change.
				div(class="w3-col s3") Seniority
				div(class="w3-col s3") Youth?
				div(id=`classes_${org.org_key}`)
					each classname, i in org.config.members.classes
						+classname(i, classname)
				div(class="w3-col s6 w3-padding-small")
					div(class="w3-btn w3-show-block theme-submit" onclick=`addClass('${org.org_key}')`) Add New Class
				div(class="w3-col s6 w3-padding-small")
					div(class="w3-btn w3-show-block theme-red" onclick=`deleteClass('${org.org_key}')`) Delete Last Class
	if !isGlobalAdminPage
		hr 
		h4 Organization password
		form#setDefaultPassword(name="setDefaultPassword" method="post" action="/manage/config/setdefaultpassword" class="w3-show-inline-block")
			div(class="w3-padding-small w3-show-inline-block")
				input#defaultPassword(name="defaultPassword" class="theme-input w3-no-border" placeholder="New Password" type="text")
		div(class="w3-padding-small w3-show-inline-block w3-tooltip")
			span#setDefaultPasswordTooltip(class="w3-tooltiptext") Password must be at least 3 characters long.
			button#btnSetDefaultPassword(class="theme-submit w3-btn" onclick="confirmSetDefaultPassword()" disabled) Change password for scouters to log in to #{org.nickname}
//- Load orgs script
script(src=`${fileRoot}/js/script-orgs.js`)

div(class="w3-hide")
	div#subteamTemplate
		+subteam('num', {label: '', key: '', pit_scout: true})
	div#classTemplate
		+classname('num', {label: '', key: '', seniority: '', youth: true})