//-
	Page to change your password.
		user.js
		'/user/changepassword'
	//
extends ../layout
block content
	form(method="post" action="/user/changepassword")
		h3=title
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label!=msg('user.currentpassword')
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border theme-inline-padding" placeholder=msg('user.blankpassword') type="password" name="currentPassword")
		br 
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label!=msg('user.newpassword')
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="newPassword1")
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label!=msg('user.newpassword2')
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="newPassword2")
		div(class="w3-padding-16")
			input(type="submit" class="gear-btn theme-submit w3-btn" value=msg('user.changepassword'))