//-
	Page to select which user you are, to login to your organization.
		user.js
		'/user/selectuser'
	//
extends ../layout
block content
	h3(class="theme-text")=title
	//-User name input
	div(class="w3-container w3-padding-16")
		div(class="w3-quarter w3-label theme-inline-padding")
			label Name: 
		div(class="w3-half")
			select(class="w3-select theme-input w3-no-border" type="text" name="user")
				option
				each user, i in users
					option(value=user._id class="w3-bar-item") #{user.name}
	//-Password input starts hidden, then is revealed if user is of a higher rank than scouter
	div#passwordContainer(class="w3-container w3-padding-16 w3-hide")
		div(class="w3-quarter w3-label theme-inline-padding")
			label Personal Password: 
		div(class="w3-half")
			input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="password")
	div#passwordCreationContainer(class="w3-contaner w3-padding-16 w3-hide")
		h6
			i Please create a new password.
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label New Password: 
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="newPassword1")
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label Confirm: 
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="newPassword2")
	//-Organization's id and password must be passed back to user so they can send it with their request.
		The alternative to this is either to AJAX the entire login process (tedious) or use tokens (more tedious).
		My reasoning that this is okay is because the user already submitted the password literally 100 milliseconds ago...
		so it's okay if we keep it hidden on the next page for a few more seconds.
	div(class="w3-hide")
		input(type="hidden" name="org_key" value=org.org_key)
		input(type="hidden" name="org_password" value=org_password)
		if redirectURL
			input(type="hidden" name="redirectURL" value=redirectURL)
	div(class="w3-padding-16")
		input#btnLogin(type="submit" class="gear-btn theme-submit w3-btn" value="Login")
	script.
		
		var passwordNeeded = false;
		var createPasswordNeeded = false;
		
		$("#btnLogin").click(handleSubmit);
		//If user presses enter in password input, invoke submit handler.
		$("input[name=password],input[name=newPassword2]").keyup(function(e){
			if(e.keyCode == 13){
				handleSubmit();
			}
		})
	
		function handleSubmit(){
			
			var selectedUser = $("select[name=user]").val();
			var org_key = $("input[name=org_key]").val();
			var org_password = $("input[name=org_password]").val();
			var redirectURL = $("input[name=redirectURL]").val()
			
			//if new-password has been filled, then submit to /user/login/createpassword
			if( createPasswordNeeded && $("input[name=newPassword1]").val() != "" && $("input[name=newPassword2]").val() != "" ){
				
				var newPassword1 = $("input[name=newPassword1]").val();
				var newPassword2 = $("input[name=newPassword2]").val();
				
				var data = {
					user: selectedUser, 
					org_key: org_key, 
					org_password: org_password, 
					newPassword1: newPassword1, 
					newPassword2: newPassword2,
					redirectURL: redirectURL,
				};
				
				if( newPassword1 == newPassword2){
					
					$.post('/user/login/createpassword', data).done( function(response){
						
						//Possible response information: alert and redirect_url
						
						//if alert, then send alert prompt
						if(response.alert){
							NotificationCard.error(response.alert);
						}
						
						//if redirect, then redirect
						if(response.redirect_url){
							window.location.href = decodeURIComponent(response.redirect_url);
						}
					});
				}
				else{
					NotificationCard.error("Both new password forms must be equal.");
				}
			}
			//If password is needed and has been entered, submit to /withpassword
			else if (passwordNeeded && $("input[name=password]").val() != "") {
				
				var password = $("input[name=password]").val();
				
				var data = {
					user: selectedUser, 
					password: password,
					org_key: org_key, 
					org_password: org_password,
					redirectURL: redirectURL,
				};
				
				$.post('/user/login/withpassword', data).done( function(response, status){
					
					//Possible response information: alert and redirect_url
					
					//if alert, then send alert prompt
					if(response.alert){
						NotificationCard.error(response.alert);
					}
					
					//if redirect, then redirect
					if(response.redirect_url){
						window.location.href = decodeURIComponent(response.redirect_url);
					}
				});
			}
			//otherwise, submit to /user/login/withoutpassword
			else {
				
				var data = {
					user: selectedUser,
					org_key: org_key, 
					org_password: org_password,
					redirectURL: redirectURL,
				};
				
				$.post('/user/login/withoutpassword', data ).done( function(response, status){
					
					//Possible response information: alert, password_needed, and redirect_url
					console.log(response);
					
					//if redirect, then redirect
					if(response.redirect_url){
						window.location.href = decodeURIComponent(response.redirect_url);
					}
					//if necessary to create password, then show the create-password prompt
					else if(response.create_password){
						createPasswordNeeded = true;
						$("#passwordCreationContainer").removeClass("w3-hide");
					}
					//finally, if password is needed, then show password prompt.
					else if(response.password_needed == true){
						passwordNeeded = true;
						$("#passwordContainer").removeClass("w3-hide");
					}
				});
			}
		}