//-
	Page for teams to edit the JSON which defines their forms (pit scouting, match scouting, ??)
		manage/orgconfig.ts
		'/manage/config/pitform' or '/manage/config/matchform'
extends ../../layout
block content
	h2=title
	p 
		br 
		i Modify, copy, paste from elsewhere, etc. the JSON defining your form
	div(class="w3-container w3-section w3-auto")
		textarea(class="w3-input w3-border" id="jsonfield" name="jsonfield" rows="40" cols="80")=layout
		div(class="gear-btn theme-link w3-btn w3-section" onclick="test()")
			span Test form [HIT BACK BUTTON TO RETURN]
		div(class="gear-btn theme-link w3-btn w3-section" onclick="submit()")
			span Validate and submit
		textarea(style="visibility:hidden" id="previousKeys" name="previousKeys")=JSON.stringify(previousKeys)
	
	form(id="submitForm" style="visibility:hidden" action="/manage/config/submitform" method="post")
		input(name="jsonData" id="jsonData" type="hidden")
		input(name="form_type" id="form_type" type="hidden" value=`${form_type}`)
		input(name="year" id="year" type="hidden" value=`${year}`)
	form(id="testForm" style="visibility:hidden" action="/scouting/testform" method="post")
		input(name="testData" id="testData" type="hidden")
		input(name="form_type" id="form_type" type="hidden" value=`${form_type}`)
		input(name="year" id="year" type="hidden" value=`${year}`)
	
	script(src=`${fileRoot}/js/script-editform.js`)
