//-
	User config page with checkboxes to choose which columns are visible in a report.
		PARAM
			layout 			[Object Array]	from layouts {'matchscouting'}
			savedCols		[Object Array]	originally from cookie (later, or database); dictionary of "selected" columns
			orgCols 		[Object] 		Org's default columns (^)
			doesOrgHaveNoDefaults [Boolean] Yes/no value for if the org has no default columns at all
			matchDataHelper [Module]		scoutradioz-helpers.matchData helper function
		user.js	
		'/user/preferences/reportcolumns'
	//
extends ../../layout
block content
	h2!=msg('user.reportcolumns.title')
	h6
		i!=msgMarked('user.reportcolumns.intro')

	div(class="w3-section")
		button(class="theme-input w3-btn gear-btn" onclick="resetToDefault()")!=msg('user.reportcolumns.default')
		button(class="theme-input w3-btn gear-btn" onclick="check()")!=msg('user.reportcolumns.checkAll')
		button(class="theme-red w3-btn gear-btn" onclick="uncheck()")!=msg('user.reportcolumns.uncheckAll')
	form(action="" method="post")
		input(type="hidden" name="redirectURL" value=redirectURL)
		div(class="w3-section w3-auto")
			each item in layout
				div(class="w3-row w3-mobile w3-auto" style="width: 320px;")
					div(class="w3-padding-small w3-left-align")
						- if (matchDataHelper.isQuantifiableType(item.type))
							- var text = item.id; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
							- if (savedCols[item.id])
								input(type="checkbox" class="w3-check" name=item.id id=item.id checked="checked")
							- else
								input(type="checkbox" class="w3-check" name=item.id id=item.id)
							div(class="w3-show-inline-block w3-left-align")
								- var thisTextClass = (orgCols[item.id]||doesOrgHaveNoDefaults) ? 'strong' : 'theme-text-secondary';
								label(class=thisTextClass for=item.id) &nbsp;#{result2}
							br 
			h2!=msg('user.reportcolumns.externalData')
			- if (eventDataFields.length == 0)
				i
					p!=msg('user.reportcolumns.noExternalData')
			- else
				each item in eventDataFields
					div(class="w3-row w3-mobile w3-auto" style="width: 320px;")
						div(class="w3-padding-small w3-left-align")
							- var text = item; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
							- var text = item; var result3 = "(" + item + ")"
							- var modId = "EXT|" + item
							- if (savedCols[modId])
								input(type="checkbox" class="w3-check" name=modId id=modId checked="checked")
							- else
								input(type="checkbox" class="w3-check" name=modId id=modId)
							div(class="w3-show-inline-block w3-left-align")
								- var thisTextClass = (orgCols[modId]||doesOrgHaveNoDefaults) ? 'strong' : 'theme-text-secondary';
								i
									label(class=thisTextClass for=modId) &nbsp;#{result3}
								br
								label(class=thisTextClass for=modId) &nbsp;#{result2}
							br 
		//-Checkbox to set org defaults
		- if (user.role.access_level >= Permissions.ACCESS_TEAM_ADMIN)
			br
			//- 'setOrgDefault': see reports.js, /reports/choosecolumns
			input(type="checkbox" class="w3-check" name='setOrgDefault' id='setOrgDefault')
			label(class="theme-text" for='setOrgDefault') &nbsp;!{msg('user.reportcolumns.setOrgDefalts')}
			br
			br
		div(style="width:200px;margin:auto;text-align:center")
			button(type="submit" class="w3-btn theme-submit")!=msg('user.reportcolumns.save')
	//-Button to clear org defaults
	- if (user.role.access_level >= Permissions.ACCESS_TEAM_ADMIN)
		br
		form#clearOrgDefault(action="/user/preferences/reportcolumns/clearorgdefaultcols" method="post")
			div(style="width:200px;margin:auto;text-align:center")
		button(type="submit" class="w3-btn theme-red" onclick='confirmResetDefault()')!=msg('user.reportcolumns.clearOrgDefaults')
	script(type="text/javascript").
		var orgCols = JSON.parse('!{JSON.stringify(orgCols)}');
		var doesOrgHaveNoDefaults = !{doesOrgHaveNoDefaults};
		function uncheck(){
			var elements = $("input");
			
			for(var i = 0; i < elements.length; i++){
				//console.log('Unchecking ' + $(elements[i]).attr('name'));
				$(elements[i]).attr("checked", false);
			}
		}
		
		function check(){
			var elements = $("input");
			
			for(var i = 0; i < elements.length; i++){
				$(elements[i]).attr("checked", true);
			}
		}
		
		function resetToDefault() {
			if (doesOrgHaveNoDefaults) {
				console.log('Org has no defaults; Checking all');
				check();
			}
			else {
				console.log('Checking only org default inputs');
				var elements = $('input');
				
				for (var i = 0; i < elements.length; i++) {
					var name = $(elements[i]).attr('name');
					if (orgCols[name]) {
						$(elements[i]).attr('checked', true);
					}
					else {
						$(elements[i]).attr('checked', false);
					}
				}
			}
		}
		
		function confirmResetDefault() {
			// JSON.stringify will escape the message into a JS-readable string
			if (confirm(!{msgJs('user.reportcolumns.clearOrgDefaultsConfirmation')})) {
				$('#clearOrgDefault').submit();
			}
		}