//-
	Mixin for an upcoming match.
	PARAM
		match [db Object] TBA data for a completed match.
		includeHr [boolean] Whether to include an hr at the bottom.
mixin upcomingMatch(match, includeHr=false, selectedTeam=null)
	- if (selectedTeam) var team = selectedTeam.substring(3);	// selectedTeam: frc###
	- match.teams = [];
	//- - var isBlue = false, isRed = false;
	//- each teamKey, i in match.alliances.blue.team_keys
		- match.teams[i] = teamKey.substring(3);
		//-isBlue for setting thick border of alliance div when a team is selected
		- if( teamKey.substring(3) == team ) isBlue = true;
	//- each teamKey, i in match.alliances.red.team_keys
		- match.teams[i + 3] = teamKey.substring(3);
		//-isRed for setting thick border of alliance div when a team is selected
		- if( teamKey.substring(3) == team ) isRed = true;
	- let timeString = ' ' + zoneTime(match.time * 1000).toFormat('cccc @ t');
	
	-
		// 2022-03-26 JL: Calculating winner at the top, so that we can highlight the predicted winner
		let redA, redS, blueA, blueS, percentChance, winningTeam;
		if (match.hasPredictive && match.predictive) {
			
			redA = match.predictive.redAVG.toFixed(0); redS = match.predictive.redSTD.toFixed(0);
			blueA = match.predictive.blueAVG.toFixed(0); blueS = match.predictive.blueSTD.toFixed(0); 
			if (match.predictive.chanceOfRed > 0.5) {
				percentChance = (match.predictive.chanceOfRed * 100).toFixed(0);
				winningTeam = 'red';
			}
			else {
				percentChance = ((1 - match.predictive.chanceOfRed) * 100).toFixed(0);
				winningTeam = 'blue';
			}
			// 2024-01-26, M.O'C: Re-implement match prediction ceiling to 99
			// There's Always A Chance™ 
			if (percentChance == '100') {
				percentChance = '99';
			} 
		}

	div(class="w3-row")
		-
			let matchName = msg('reports.match', {
				level: match.comp_level != 'qm'
					? `${match.comp_level}${match.set_number}`.toUpperCase()
					: '',
				number: match.match_number
			})
		//-Title for small screens
		div(class="w3-col s12 m0 rounded theme-dim w3-border")
			div(class="w3-col s9 w3-padding")
				div
					span!=matchName
					span.theme-text-secondary=timeString
			div(class="w3-col s3")
				a(href=`/reports/matchmetrics?key=${match.key}`)
					div(class="w3-padding-small w3-right-align w3-small theme-hover-light-gray rounded-br rounded-tr" style="padding-right: 18px!important;")
						i!=msg('driveDashboard.compareAlliance')
		//-Title for medium screens
		div(class="w3-col s0 m3 w3-padding-small")
			div(class="rounded theme-dim w3-border")
				div(class="w3-padding")!=matchName
				div(class="w3-padding theme-text-secondary")=timeString
				a(href=`/reports/matchmetrics?key=${match.key}`)
					div(class="w3-padding-16 w3-small theme-hover-light-gray rounded-bottom") 
						i!=msg('driveDashboard.compareAlliance')
		//-Alliances
		div(class="w3-col s12 m9 w3-padding-small")
			- let alliances = {red: match.alliances.red.team_keys, blue: match.alliances.blue.team_keys};
			each alliance, color in alliances
				div(class="w3-col s6 w3-padding-small")
					div(class=`alliance-${color} alliance-border-${color} rounded-small${winningTeam == color ? ' semi-thick-border' : ''}`)
						each team in alliance
							a(href=`/reports/teamintel?team_key=${team}`)
								div(class=`w3-padding alliance-hover-${color} rounded-small-top`)
									if teamRanks[team]
										span(class="upcoming-rank") 
											i!=msg('reports.rankNumber', {number: teamRanks[team]})
									span(class=(selectedTeam==team?'upcoming-highlighted-team':''))=team.substring(3)
	//- 2022-03-20, M.O'C: Display predictions IF the data is available (ultimately from matchdatahelper.js)
	if match.hasPredictive 
		if match.predictive
			i!=msg('reports.prediction.winner', {chance: percentChance, alliance: msg(`alliance.${winningTeam}Short`)})
			span(class="w3-tooltip")
				span(class="sprite sp-info sp-16 sp-inline") &nbsp;
				span(class="w3-tooltiptext no-mobile-tweak" style="width: 140px; margin-left: -70px;")!=msg('reports.prediction.reports', {count: match.predictive.totalCNT})
			br
			i!=msg('reports.prediction.scores', {redA: redA, redS: redS, blueA: blueA, blueS: blueS})
		else
			i!=msg('reports.prediction.noData')
	//- Put a horizontal rule if requested
	if (includeHr == true)
		hr 