//-
	Mixin for an upcoming match.
	PARAM
		match [db Object] TBA data for a completed match.
		includeHr [boolean] Whether to include an hr at the bottom.
mixin upcomingMatch(match, includeHr=false)
	- if (selectedTeam) var team = selectedTeam.substring(3);
	//- console.log(team);
	- match.teams = [];
	- var isBlue = false, isRed = false;
	each teamKey, i in match.alliances.blue.team_keys
		- match.teams[i] = teamKey.substring(3);
		//-isBlue for setting thick border of alliance div when a team is selected
		- if( teamKey.substring(3) == team ) isBlue = true;
	each teamKey, i in match.alliances.red.team_keys
		- match.teams[i + 3] = teamKey.substring(3);
		//-isRed for setting thick border of alliance div when a team is selected
		- if( teamKey.substring(3) == team ) isRed = true;
	
	- let timeString = ' ' + zoneTime(match.time * 1000).toFormat('cccc @ t');
	div(class="w3-row")
		//-Title for small screens
		div(class="w3-col s12 m0 rounded theme-dim w3-border")
			div(class="w3-col s9 w3-padding")
				div
					- var matchPrefix = "";
					- if (match.comp_level != 'qm') matchPrefix = "" + match.comp_level + "" + match.set_number + " ";
					span #{matchPrefix.toUpperCase()}&nbsp;Match&nbsp;#{match.match_number}:
					span= timeString
			div(class="w3-col s3")
				a(href=`/reports/matchmetrics?key=${match.key}`)
					div(class="w3-padding-small w3-right-align w3-small theme-hover-light-gray rounded-br rounded-tr" style="padding-right: 18px!important;")
						i Compare alliances
		//-Title for medium screens
		div(class="w3-col s0 m3 w3-padding-small")
			div(class="rounded theme-dim w3-border")
				- var matchPrefix = "";
				- if (match.comp_level != 'qm') matchPrefix = "" + match.comp_level + "" + match.set_number + " ";
				div(class="w3-padding") #{matchPrefix.toUpperCase()} Match #{match.match_number}
				div(class="w3-padding")= timeString
				a(href=`/reports/matchmetrics?key=${match.key}`)
					div(class="w3-padding-16 w3-small theme-hover-light-gray rounded-bottom") 
						i Compare alliances
		//-Alliances
		div(class="w3-col s12 m9 w3-padding-small")
			div(class="w3-col s6 w3-padding-small")
				//- set shorthands for each team key
				- var blue = match.alliances.blue.team_keys, red = match.alliances.red.team_keys;
				- var blue1 = blue[0], blue2 = blue[1], blue3 = blue[2];
				- var red1 = red[0], red2 = red[1], red3 = red[2];
				//- set classes for alliance window
				- var blueClass = "alliance-blue alliance-border-blue rounded-small";
				- var redClass = "alliance-red alliance-border-red rounded-small";
				- if( isBlue ) blueClass += " thick-border";
				- else if( isRed ) redClass += " thick-border";
				div(class=blueClass)
					//- not doing this with a loop because border needs to be specified
					a(href=`/reports/teamintel?team_key=${blue1}`)
						div(class="w3-padding alliance-hover-blue rounded-small-top")
							span(class="w3-left w3-small theme-text upcoming-rank") 
								i Rank #{teamRanks[blue1]}
							span=blue1.substring(3)
					a(href=`/reports/teamintel?team_key=${blue2}`)
						div(class="w3-padding alliance-hover-blue")
							span(class="w3-left w3-small theme-text upcoming-rank") 
								i Rank #{teamRanks[blue2]}
							span=blue2.substring(3)
					a(href=`/reports/teamintel?team_key=${blue3}`)
						div(class="w3-padding alliance-hover-blue rounded-small-bottom")
							span(class="w3-left w3-small theme-text upcoming-rank") 
								i Rank #{teamRanks[blue3]}
							span=blue3.substring(3)
			div(class="w3-col s6 w3-padding-small")
				div(class=redClass)
					//- not doing this with a loop because border needs to be specified
					a(href=`/reports/teamintel?team_key=${red1}`)
						div(class="w3-padding alliance-hover-red rounded-small-top")
							span(class="w3-left w3-small theme-text upcoming-rank") 
								i Rank #{teamRanks[red1]}
							span=match.alliances.red.team_keys[0].substring(3)
					a(href=`/reports/teamintel?team_key=${red2}`)
						div(class="w3-padding alliance-hover-red")
							span(class="w3-left w3-small theme-text upcoming-rank") 
								i Rank #{teamRanks[red2]}
							span=match.alliances.red.team_keys[1].substring(3)
					a(href=`/reports/teamintel?team_key=${red3}`)
						div(class="w3-padding alliance-hover-red rounded-small-bottom")
							span(class="w3-left w3-small theme-text upcoming-rank") 
								i Rank #{teamRanks[red3]}
							span=match.alliances.red.team_keys[2].substring(3)
	if (includeHr == true)
		hr 