extends ../../layout
block content
	h3 Organization Members
	h6
		i Make sure to click or tap "Update" when you modify each member.
	div(class="w3-container w3-section w3-auto")
		div(class="w3-row")
			div(class="w3-third w3-padding-small w3-label") Name&nbsp;&nbsp;
			div(class="w3-third w3-padding-small") Has Custom Password?
		each members, role in membersByRole
			div(class="w3-row")
				hr 
				h4=role
				br 
			each member in members
				div(class="w3-row")
					div(class="w3-col s12 m0")
						hr
					div(class="w3-third w3-label w3-padding-small")
						div(class="theme-inline-padding") 
							label #{member.name}
					div(class="w3-third")
						- if (member.password == "default")
							- var itemClass = "theme-red audit-card";
							- var itemChar = 'N'
						- else
							- var itemClass = "w3-green audit-card"
							- var itemChar = 'Y';
						div(class="w3-show-inline-block")
							div(class=itemClass id=`auditCard_${member._id}`)
								span #{itemChar}
					//Password RESET TO DEFAULT
					div(class="w3-third w3-padding-small")
						button(class="w3-btn w3-left theme-submit" onclick=`resetPass('${member._id}', "${member.name}")`) Reset
		hr
	script.
		function resetPass (memberId, memberName) {
			
			var confirmation = confirm(`Reset password of ${memberName}?`);
			
			if (confirmation) {
				
				$.post('/manage/members/resetpassword', {memberId: memberId}, function (response) {
					
					if (response.status == 200) {
						NotificationCard.good(response.message);
						//change audit card contents to 'N' and red
						$(`#auditCard_${memberId}`)
						.removeClass('w3-green')
						.addClass('theme-red')
						.text('N');
					}
					else {
						NotificationCard.error(response.message);
					}
				})
			}
			else {
				console.log('Password reset confirmation denied.');
			}
		}