//-
	Allianceselection allows you to follow along with (or simulate) alliance selection
	picks.
		dashboard.js
		'/dashboard/allianceselection'
	//
extends ../layout
block content
	style.
		.alliance-team-old{
			display: inline-block;
			width: 100px;
			border: 1px solid white;
			padding: 8px 0px;
		}
		.alliance-team{
			padding: 15px 0px;
		}
		.team-taken{
			background-color: #444450!important;
			border: 1px solid #999999!important;
		}
		.team-available{
			background-color: #747488!important;
			border: 1px solid white!important;
			cursor: pointer;
		}
		.team-highlighted{
			background-color: #c5c5df!important;
			border: 1px solid white!important;
			color: #222222!important
		}
		.alliance-team[available=true]{
			cursor: pointer;
		}
		.theme-dim{
			border-radius: 0;
			transition: 0s;
		}
	h2=title
	div(class="w3-mobile w3-center")
		p.i!=msg('allianceselection.intro')
		p.i!=msgMarked('allianceselection.preferred')
		div(class="w3-row w3-padding-small")
			div(class="w3-left")
				div(id="undo" class="w3-btn theme-submit")!=msg('allianceselection.undo')
		section(class="w3-row")
			div(id="allianceSelection")
				each alliance, i in alliances
					- var allianceNum = i + 1;
					div(class="w3-padding-small w3-col s12 m6 l3")
						div(class="theme-dim w3-padding-large w3-col")
							div(class="w3-col s0 m12")!=msg('allianceselection.allianceNumber', {number: allianceNum})
							div(class="w3-col s2 m0") 
								p(class="w3-large") #{allianceNum}
							div(class="w3-col s10 m12")
								div(class="w3-col s4 w3-padding-small")
									div(id=alliance.team1 alliance=allianceNum available="true" class="alliance-team w3-border w3-border-white")
									
										span=alliance.team1.substring(3)
								div(class="w3-col s4 w3-padding-small")
									div(id=`all${allianceNum}team2` alliance=allianceNum class="alliance-team w3-border w3-border-white")
									
										span=(alliance.team2) ? alliance.team2.substring(3) : "[2]"
								div(class="w3-col s4 w3-padding-small")
									div(id=`all${allianceNum}team3` alliance=allianceNum class="alliance-team w3-border w3-border-white")
									
										span=(alliance.team3) ? alliance.team3.substring(3) : "[3]"
				hr(class="w3-col")
				div(class="w3-col")
					each team, i in sortedTeams
						div(class="w3-col s4 m2 l1 w3-padding-small")
							div(id=team.team_key available="true" class="theme-dim alliance-team w3-border w3-border-white")
								span=team.team_key.substring(3)
		hr(class="")
		
		div(class="w3-section")
			input(class="w3-check w3-margin-right" type="checkbox" checked id="showHideData")
			label(for="showHideData")!=msg('allianceselection.showData')
		div#data()
			include allianceselection-info
	script.
		//create selection state
		window.state = {};
		//CURRENTLY UNUSED
		state.alliances = {
			alliance1: ["#{alliances[0].team1}", undefined, undefined],
			alliance2: ["#{alliances[1].team1}", undefined, undefined],
			alliance3: ["#{alliances[2].team1}", undefined, undefined],
			alliance4: ["#{alliances[3].team1}", undefined, undefined],
			alliance5: ["#{alliances[4].team1}", undefined, undefined],
			alliance6: ["#{alliances[5].team1}", undefined, undefined],
			alliance7: ["#{alliances[6].team1}", undefined, undefined],
			alliance8: ["#{alliances[7].team1}", undefined, undefined],
		};
		//Starting alliance 1 captain, before any user input
		window.startingCaptain = "#{alliances[0].team1}";
		
		state.rankings = [null];
		//currently selected team
		state.currentSelectedTeam = null;
		//history of selected teams
		/*
			[
				{
					"teamKey": "frc102",
					"previousSpot": rank before selected,
					"allianceSpot": 2 or 3
				}
			]
		*/
		state.moveHistory = [];
		//round 0 goes from alliance 1 to 8; round 1 goes from alliance 8 to 1
		state.currentRound = 0;
		//current alliance that is choosing a team
		state.currentAlliance = 1;
		//Previous states of allianceSelection
		var previousStates = [];
	
		// i18n messages used by client script
		window.i18n = {};
	| <script>
	each team, i in rankings
		| state.rankings[#{i+1}] = "#{team.team_key}";
	each msg in ['wontSave', 'noPreviousState', 'noLastMove', 'noAllianceAttribute', 'noTeamStateRankings']
		| i18n["#{msg}"] = !{msgJs('allianceselection.' + msg)};
	| </script>
	script(src=`${fileRoot}/js/script-allianceselection.js?v`)