//-
	Drive team dashboard shows upcoming matches for a particular team, 
	and shows alliance stats for the first match.
		dashboard.js
		'/dashboard/driveteam'
			QUERY: [optional] team_key (team key; defaults to org's team)
	//
extends ../layout
block content
	script(src=`${fileRoot}/lib/chart.umd.js?v=0`)
	style.
		html{
			overflow-x: visible;
		}
		/* 2024-03-13 JL: Fixed charts displaying wrong on Firefox by changing the way they are positioned to use flexbox */
		.radar-canvas{
			max-width: 100%;
		}
		.radar-chart-parent {
			display: flex;
			flex-flow: row wrap;
		}
		.radar-chart {
			flex: 1 0 50%;
		}
		@media(max-width: 600px) {
			.radar-chart {
				flex: 1 0 100%;
			}
		}
	include ../reports/templates/heatmap
	include ../reports/mixins/upcomingMatch
	
	if !teams || !teams[0]
		h3!=msg('driveDashboard.noTeams')
	else 
		h3=title
		if noMatchesFoundForTeam
			p.i!=msg('driveDashboard.noMatchesTeam', {team: selectedTeam.substring(3)})
			- selectedTeam = 'all';
		else 
			br 
		//- Dashboard for other teams
		div(class="w3-section")
			form(name="driveDashboardTeam" method="get" action="/dashboard/driveteam")
				span(class="w3-mobile w3-margin-top")
					label(class="w3-label" style="padding-right: 8px")!=msg('driveDashboard.viewFor')
					select(class="theme-input" style="min-width: 100;" name="team_key")
						if selectedTeam == 'all'
							option(selected value='all')!=msg('driveDashboard.chooseTeam')
						//- List of team keys in this org
						if orgTeamKeys.length > 0
							each team_key in orgTeamKeys
								option(value=team_key selected=(team_key === selectedTeam))=team_key.substring(3)	
							option ----- !{msg('driveDashboard.otherTeams')} -----
						each team in teams 
							if !orgTeamKeys.includes(team.key)
								option(selected=(team.key === selectedTeam) value=team.key)=team.team_number
					noscript
						//- JL: I made the multiselect auto-submit on change, but to make it still work in browsers with JS disabled, this submit button will act in its place.
						button(class="w3-btn theme-submit w3-margin-left" type="submit" name="selected" value="true")!=msg('driveDashboard.selectedTeam')
				span(class="w3-mobile w3-margin-top")
					label(class="w3-label w3-margin-left" style="padding-right: 8px")!=msg('driveDashboard.viewOr')
					button(class="w3-btn theme-submit" type="submit" name="all" value="true")!=msg('driveDashboard.allTeams')
		br
		if selectedTeam == 'all'
			h4!=msg('driveDashboard.nextMatch')
		else
			h4!=msg('driveDashboard.nextMatchTeam', {team: selectedTeam.substring(3)})
		//- Check if there are any matches
		if !matches || !matches[0]
			h3!=msg('driveDashboard.noMatches')
		else
			//- View first match
			- var match = matches[0];
			+upcomingMatch(match, undefined, selectedTeam)
			hr 
			//-Radar
			div(class="w3-section w3-auto")
				h4!=msg('driveDashboard.relativeStrengths')
				h6
					i!=msg('driveDashboard.legendShowHide')
				div(class="radar-chart-parent")
					div(class="radar-chart")
						h5!=msg('alliance.red')
						canvas(id="RadarRedAlliance" class="radar-canvas")
					div(class="radar-chart")
						h5!=msg('alliance.blue')
						canvas(id="RadarBlueAlliance" class="radar-canvas")
			//-Table
			div(class="w3-section")
				h4!=msg('metrics.raw')
				div
					span!=msg('metrics.show') 
					input(type="radio" id="showAvg" name="sel" onclick="showAvg();" checked)
					label(for="showAvg") &nbsp;!{msg('metrics.AVG')}&#32;
					input(type="radio" id="showMax" name="sel" onclick="showMax();")
					label(for="showMax") &nbsp;!{msg('metrics.MAX')}&#32;
				p
				- var aggRangeMap = [];
				for scoreItem in currentAggRanges
					- aggRangeMap[scoreItem.key] = scoreItem;
				div#avgSect(class="w3-auto")
					if (avgdata)
						table(class="w3-table" style="max-width: 80%;")
							tr
								th(style="padding-left: 0; width: 25%;" class="w3-right-align")!=msg('metrics.metricAVG')
								for team in teamList
									if team == 0
										th 
									else 
										th(class="w3-center" style="padding: 8px 4px; width: 11%;")
											u
												a(href=`/reports/teamintel?team_key=${team}`)= team.substring(3)
							each agg in avgdata
								tr
									- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
									td(class="w3-text-light-gray w3-small w3-right-align" style="padding-left: 0;")
										a(href=`/reports/metricintel?key=${agg.key}`)= result2
									for team in teamList
										if team == 0
											th 
										else 
											- var valueCol = 'w3-center w3-text-white'
											- if (agg[team] == 0) valueCol = 'w3-center w3-text-gray'
											if (aggRangeMap[agg.key])
												td(class=`${valueCol}` style=`padding: 8px 0px; background-color: rgb(${getValR(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])},${getValG(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])},${getValB(aggRangeMap[agg.key].AVGmin, aggRangeMap[agg.key].AVGmax, agg[team])})`)= agg[team]
											else
												td(class=`${valueCol}`)= agg[team]
				div#maxSect(class="w3-auto")
					if (maxdata)
						table(class="w3-table" style="max-width: 80%;")
							tr
								th(style="padding-left: 0; width: 25%;" class="w3-right-align")!=msg('metrics.metricMAX')
								for team in teamList
									if team == 0
										th 
									else 
										th(class="w3-center" style="padding: 8px 4px; width: 11%;")
											u
												a(href=`/reports/teamintel?team_key=${team}`)= team.substring(3)
							each agg in maxdata
								tr
									- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
									td(class="w3-text-light-gray w3-small  w3-right-align" style="padding-left: 0;")
										a(href=`/reports/metricintel?key=${agg.key}`)= result2
									for team in teamList
										if team == 0
											td 
										else 
											- var valueCol = 'w3-center w3-text-white'
											- if (agg[team] == 0) valueCol = 'w3-center w3-text-gray'
											if (aggRangeMap[agg.key])
												td(class=`${valueCol}` style=`padding: 8px 0px; background-color: rgb(${getValR(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])},${getValG(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])},${getValB(aggRangeMap[agg.key].MAXmin, aggRangeMap[agg.key].MAXmax, agg[team])})`)= agg[team]
											else
												td(class=`${valueCol}`)= agg[team]
			//-Super-scout notes
			- if (user && user.role.access_level >= Permissions.ACCESS_SCOUTER)
				if pitData && pitData[0]
					each pit in pitData
						div(style="white-space: pre-wrap;")
							h4!=msg('scouting.supernotes', {team: pit.team_key.substring(3)})
							i
								p= pit.super_data.otherNotes

			hr
			if selectedTeam == 'all'
				h4!=msg('driveDashboard.futureMatches')
			else
				h4!=msg('driveDashboard.futureMatchesTeam', {team: selectedTeam.substring(3)})
			each match, i in matches
				//-Skip first match
				if (i > 0)
					+upcomingMatch(match, undefined, selectedTeam)
					hr 

			script var chartData = JSON.parse('!{dataForChartJS}');
			//- script.
				console.log(JSON.parse(JSON.stringify(chartData)));
			script.
				//- Chart.defaults.global.defaultFontStyle = 'bold';
				//- Chart.defaults.global.defaultFontColor = '#DDD';
				Chart.defaults.font.weight = 'bold';
				Chart.defaults.color = '#DDD';
				
				var redData = {
					labels: chartData.labels,
					datasets: [
						{
							data: chartData.datasets.avg.red[0],
							label: chartData.items.red[0].label,
							backgroundColor: chartData.items.red[0].backgroundColor,
							borderColor: chartData.items.red[0].borderColor,
						},
						{
							data: chartData.datasets.avg.red[1],
							label: chartData.items.red[1].label,
							backgroundColor: chartData.items.red[1].backgroundColor,
							borderColor: chartData.items.red[1].borderColor,
						},
						{
							data: chartData.datasets.avg.red[2],
							label: chartData.items.red[2].label,
							backgroundColor: chartData.items.red[2].backgroundColor,
							borderColor: chartData.items.red[2].borderColor,
						},
					],
				};
				var blueData = {
					labels: chartData.labels,
					datasets: [
						{
							data: chartData.datasets.avg.blue[0],
							label: chartData.items.blue[0].label,
							backgroundColor: chartData.items.blue[0].backgroundColor,
							borderColor: chartData.items.blue[0].borderColor,
						},
						{
							data: chartData.datasets.avg.blue[1],
							label: chartData.items.blue[1].label,
							backgroundColor: chartData.items.blue[1].backgroundColor,
							borderColor: chartData.items.blue[1].borderColor,
						},
						{
							data: chartData.datasets.avg.blue[2],
							label: chartData.items.blue[2].label,
							backgroundColor: chartData.items.blue[2].backgroundColor,
							borderColor: chartData.items.blue[2].borderColor,
						},
					],
				};
				
				var redCtx = $('#RadarRedAlliance')[0].getContext('2d');
				var blueCtx = $('#RadarBlueAlliance')[0].getContext('2d');
				
				var redRadar = new Chart(redCtx, {
					type: 'radar',
					data: redData,
					options: chartData.options
				});
				var blueRadar = new Chart(blueCtx, {
					type: 'radar',
					data: blueData,
					options: chartData.options
				});
				
				showAvg();

				function showAvg() {
					var avg = document.getElementById('avgSect');
					avg.style.display = "block";
					var max = document.getElementById('maxSect');
					max.style.display = "none";
					
					for (var i in redRadar.data.datasets) {
						var set = redRadar.data.datasets[i];
						if (set.hasOwnProperty("data")) {
							set.data = chartData.datasets.avg.red[i];
						}
					}
					redRadar.update();		
					for (var i in blueRadar.data.datasets) {
						var set = blueRadar.data.datasets[i];
						if (set.hasOwnProperty("data")) {
							set.data = chartData.datasets.avg.blue[i];
						}
					}
					blueRadar.update();			
				}

				function showMax() {
					var avg = document.getElementById('avgSect');
					avg.style.display = "none";
					var max = document.getElementById('maxSect');
					max.style.display = "block";
						
					for (var i in redRadar.data.datasets) {
						var set = redRadar.data.datasets[i];
						if (set.hasOwnProperty("data")) {
							set.data = chartData.datasets.max.red[i];
						}
					}
					redRadar.update();
					for (var i in blueRadar.data.datasets) {
						var set = blueRadar.data.datasets[i];
						if (set.hasOwnProperty("data")) {
							set.data = chartData.datasets.max.blue[i];
						}
					}
					blueRadar.update();
				}
				
				//- Multiselect for selecting team_key - Auto submit when it changes
				$('select[name=team_key]').on('change', () => {
					$('form[name=driveDashboardTeam]').submit();
				});