extends ../layout

block content
	if user
		h2(class="theme-text") Dashboard for
		h2(class="theme-text")= user.name
		h4(style="font-style:italic") Scouting group:
		h4(style="font-style:italic")= thisPair
		hr 
		if assignedTeams.length > 0
			h3(class="theme-text") Scouting assignments
			each team in assignedTeams
				if team.data
					a(href=`/scouting/pit?team=${team.team_key}`) 
						div(class="gear-btn w3-dark-grey w3-btn w3-section w3-margin-left w3-margin-right")
							span= team.team_key.substring(3)
				else
					a(href=`/scouting/pit?team=${team.team_key}`) 
						div(class="gear-btn theme-link w3-btn w3-section w3-margin-left w3-margin-right")
							span= team.team_key.substring(3)
			hr 
		if backupTeams.length > 0
			h3(class="theme-text") Partner(s) scouting assignments
			each team in backupTeams
				if team.data
					a(href=`/scouting/pit?team=${team.team_key}`) 
						div(class="gear-btn w3-dark-grey w3-btn w3-section w3-margin-left w3-margin-right")
							span= team.team_key.substring(3)
				else
					a(href=`/scouting/pit?team=${team.team_key}`) 
						div(class="gear-btn theme-link w3-btn w3-section w3-margin-left w3-margin-right")
							span= team.team_key.substring(3)
			hr 
		if scoringMatches.length > 0
			h3(class="theme-text") Upcoming matches to be scored
			br 
			each match in scoringMatches
				- match.alliance = (match.alliance == "red") ? "Red" : "Blue";
				- var btnColor = (match.alliance == "Red") ? "alliance-red" : "alliance-blue"
				
				- //gets date crap
				- var date = new Date( match.time * 1000 )
				- if (match.predicted_time) date = new Date( match.predicted_time * 1000 );
				- var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
				- var day = days[date.getDay()];
				- var hour = date.getHours();
				- var minute = date.getMinutes();
				- //makes minute crap 2 digits
				- minute = (minute.toString().length==1) ? "0".concat(minute.toString()) : minute;
				
				h4 Match #{match.match_number} <br/> #{day} @ #{hour}:#{minute} 
					if match.data
						a(href=`/scouting/match?key=${match.match_team_key}&alliance=${match.alliance}`) 
							div(class="gear-btn theme-dim w3-btn w3-section w3-margin-left w3-margin-right")
								span= match.team_key.substring(3)
					else
						a(href=`/scouting/match?key=${match.match_team_key}&alliance=${match.alliance}`) 
							div(class=`gear-btn ${btnColor} theme-hover-white w3-btn w3-section w3-margin-left w3-margin-right`)
								span= match.team_key.substring(3)
			hr 
		div(class="w3-container w3-padding-16")
			a(href="/dashboard/pits") 
				div(class="gear-btn theme-link w3-btn w3-section w3-margin-left w3-margin-right")
					span One-off Pit Scouting
			a(href="/dashboard/matches") 
				div(class="gear-btn theme-link w3-btn w3-section w3-margin-left w3-margin-right")
					span One-off Match Scouting
