//- 
	Match Scouting dashboard shows all upcoming matches and match scouting assignments
	for each team.
		dashboard.js
		'/dashboard/matches'
	//
extends ../layout
block content
	if matches.length === 0
		+noDataFound("There are no match scouting assignments in the system now", "Please check back later")
	else
		h3(class="theme-text w3-margin-bottom")!=msg('scouting.match')
		if !futureMatchResultsConsistent
			a(href="/manage/currentevent/matches") 
				div(class="w3-btn theme-red")
					b!=msg('dashboard.matchResultMissedWarning')
					br
					if user.role && user.role.access_level >= Permissions.ACCESS_TEAM_ADMIN
						span!=msg('dashboard.matchResultMissedAdmin')
					else
						span!=msg('dashboard.matchResultMissedNotAdmin')
		div(class="w3-col w3-container")
			- var col = 0
			while col < 3
				div(class=`w3-col ${col > 0 ? 's0' : ''} m6 l4 w3-padding strong`)
					div(class="w3-col s3")!=msg('dashboard.assigned')
					div(class="w3-col s4")!=msg('dashboard.team')
					div(class="w3-col s5")!=msg('dashboard.teamName')
				- col++
		div(class="w3-container")
			each match, i in matches
				- if( i % 6 == 0 )
					- var assignments = [matches[i], matches[i+1], matches[i+2], matches[i+3], matches[i+4], matches[i+5]];
					
					div(class="w3-col m6 l4 w3-padding")
						hr
						div(class="w3-col w3-padding")
							span !{msg('dashboard.matchNumber', {number: match.match_number})} <br/> #{zoneTime(match.time * 1000).toFormat('cccc @ t')}
						each assignment, j in assignments
							- assignment.alliance = (assignment.alliance == "red") ? "Red" : "Blue";
							div(class="w3-col" style="height: 55px; display: flex;")
								//- Assigned scorer
								div(class="w3-col s3 w3-right-align w3-padding-16")
									div(style="height: 10px;")
										if assignment.assigned_scorer
											//- Serve bold when it's the logged in user
											if user && user._id.equals(assignment.assigned_scorer.id)
												span.b= assignment.assigned_scorer.name
											else
												span= assignment.assigned_scorer.name
								//- Link to team
								div(class="w3-col s4 w3-padding")
									//-here is if the match has been completed
									if assignment.data
										a(href=`/scouting/match?key=${assignment.match_team_key}&alliance=${assignment.alliance}`)
											div(class="w3-btn w3-col theme-dim w3-padding")
												span(class="w3-left")
													span(class="sprite sp-20 sp-edit" style="vertical-align: middle; margin-top: -3px;")
												span= assignment.team_key.substring(3)
									else
										- var btnColor = (assignment.alliance == "Red") ? "alliance-red" : "alliance-blue"
										a(href=`/scouting/match?key=${assignment.match_team_key}&alliance=${assignment.alliance}`) 
											div(class=`w3-btn w3-col ${btnColor} w3-padding`)
												span= assignment.team_key.substring(3)
								//- Team nickname
								div(class="w3-col s5 w3-left-align" style="margin: auto;")
									div(class="w3-col" style="margin-top: -5px;")
										span(style="")= assignment.team_nickname
