//- 
	Pit Scouting dashboard shows each team at the event and scouting assignments
	for each team.
		dashboard.js
		'/dashboard/pits'
	//
extends ../layout
block content
	if teams.length > 0
		h3(class="theme-text")=title
		table(class="w3-content w3-center theme-contains-spacer")
			th Assignee
			th Team #
			th Nickname
			if images
				th Photo
			each team, i in teamAssignments
				if( user.name == team.primary )
					- color = "gear-text-orange";
				else
					- color = "theme-text";
				tr(class=`w3-margin ${color}`)
					td(class="theme-spacer")
						h4(class=`${color}`) #{team.primary}
					td(class="theme-spacer")
						if team.data
							a(href=`/scouting/pit?team_key=${team.team_key}`) 
								div(class="gear-btn w3-dark-grey w3-btn w3-section")
									span= team.team_key.substring(3)
						else
							a(href=`/scouting/pit?team_key=${team.team_key}`) 
								div(class="gear-btn theme-link w3-btn w3-section")
									span= team.team_key.substring(3)
					td(class='w3-left-align theme-spacer')
						h4(class=`${color}`) #{team.nickname}
					if images
						td(class="theme-spacer")
							//- console.log(images[i])
							- if (images[i] && images[i].main)
								a(href=images[i].main.lg target="_blank")
									img(src=images[i].main.sm alt="" style="max-height:80px; max-width: 50px;")
					//- if (pics)
						td(class="theme-spacer")
							img(src=`${fileRoot}/uploads/responsive/${user.org_key}/${event_year}_${team.team_key}_sm.jpg` alt="" class="w3-image" style="max-height:80px;max-width:50px;")
		h6
			a(class="gear-btn theme-link w3-btn" href=`/dashboard/pits?loadPhotos=1`) Refresh with team photos

