//-
	Pit scouting page. Contains dynamic inputs that are created based on JSOn in the database.
extends ../layout
block content
	style.
		.w3-check{
			top: 7.7px!important;
		}
		.image-input{
			opacity: 0;
			position: absolute;
			z-index: -1;
		}
	script(src=`${fileRoot}/js/script-pitscouting.js?v=9`)
	h3= key.replace('frc','Team #')
	p
	if images
		div(style="width:80%; margin-left:auto; margin-right:auto; display:block;")
			//-Main image
			if images.main
				img#imgMain(src=images.main.md alt="" class="w3-image team-image-lg")
			else 
				img#imgMain(alt="" class="w3-image team-image-lg")
		br
		div(style="width:80%; margin-left:auto; margin-right:auto; display:block;")
			//-Small image 1
			if images.a
				img#imgA(src=images.a.sm alt="" class="w3-image team-image-sm")
			else 
				img#imgA(alt="" class="w3-image team-image-sm")
			//-Small image 2
			if images.b
				img#imgB(src=images.b.sm alt="" class="w3-image team-image-sm")
			else 
				img#imgB(alt="" class="w3-image team-image-sm")
			//-Small image 3
			if images.c
				img#imgC(src=images.b.sm alt="" class="w3-image team-image-sm")
			else 
				img#imgC(alt="" class="w3-image team-image-sm")
	//div(style="width:80%; margin-left:auto; margin-right:auto; display:block;")
		img#imgA(src=`${fileRoot}/uploads/responsive/${user.org_key}/${event_year}_${key}a_sm.jpg` alt="" class="w3-image team-image-sm")
		img#imgB(src=`${fileRoot}/uploads/responsive/${user.org_key}/${event_year}_${key}b_sm.jpg` alt="" class="w3-image team-image-sm")
		img#imgC(src=`${fileRoot}/uploads/responsive/${user.org_key}/${event_year}_${key}c_sm.jpg` alt="" class="w3-image team-image-sm")
	form#imageform(action="javascript:void(0)" method="post")
		//-Image inputs
		input#imageMain(type="file" class="image-input" index="0" name="imageMain")
		input#imageA(type="file" class="image-input" index="1" name="imageA")
		input#imageB(type="file" class="image-input" index="2" name="imageB")
		input#imageC(type="file" class="image-input" index="3" name="imageC")
		//-Hidden inputs that contain uploadURL (upload.scoutradioz.com/app/image) and event year
		input(type="hidden" name="uploadURL" value=uploadURL)
		input(type="hidden" name="year" value=event_year)
		input(type="hidden" name="org_key" value=user.org_key)
		input(type="hidden" name="team_key" value=key)
		input(type="hidden" name="user" value=user._id)
		//-The buttons are actually labels for each image input
		div(class="w3-container w3-padding")
			label#uploadMain(for="imageMain" class="w3-btn theme-submit") Upload Main Photo
		div(class="w3-container")
			div(class="w3-padding w3-show-inline-block")
				label#uploadA(for="imageA" class="w3-btn theme-submit") Upload Small #1
			div(class="w3-padding w3-show-inline-block")
				label#uploadB(for="imageB" class="w3-btn theme-submit") Upload Small #2
			div(class="w3-padding w3-show-inline-block")
				label#uploadC(for="imageC" class="w3-btn theme-submit") Upload Small #3
	//div(class="w3-container")
		input(type="checkbox" name="chkPreprocess" id="chkPreprocess" class="w3-check")
		label(for="chkPreprocess" class="theme-inline-padding") Pre-process photos to conserve mobile data?
	p
	div(class="")
		form#scoutform(class="" name="scoutform")
			input#teamkey(type="hidden", name="teamkey", value=`${key}`)
			div(class="w3-auto")
				each element in layout
					- var answer = ""
					- if (pitData) answer = pitData[element.id]
					- //console.log("element.id, answer="+element.id+","+answer)
					
					case element.type
						when "checkbox"
							include templates/formCheckbox
						when "counter"
							include templates/formCounterTextInput
						when "badcounter"
							include templates/formBadCounter
						when "multiselect"
							include templates/formMultiselect
						when "textblock"
							include templates/formTextBlock
						when "h2"
							include templates/formHeader
						when "h3"
							include templates/formSubHeader
						when "spacer"
							include templates/formSpacer
		br 
		button#submit( onclick="window.onbeforeunload = null;" class="w3-btn theme-submit") Submit
		p 
	each element in layout
		case element.type
			when "checkbox"
				include templates/scriptCheckbox