extends ../layout
block content
	style.
		.align {
			 position:relative;
			 top:50px;
		}
	if (teams)
		h2(class="theme-text") Team Info Chart
		h6(onclick="doEasterEgg()") <i>Click on a team to see intel on that team or click on an image to make it bigger</i>
		table(class="w3-table")
			tr
				th(class="w3-center") Team #
				th(class="w3-center") Team Name
				th Picture
				th(class="w3-center") Origin
			each team in teams
				tr
					if (team.hasPicture)
						td(class="w3-text-light-gray w3-center align")= team.team_number
					else
						td(class="w3-text-light-gray w3-center")= team.team_number
					td(class="theme-text w3-center")
						if (team.hasPicture)
							a(href=`/reports/teamintel?team=${team.key}` class="align")= team.nickname
						else
							a(href=`/reports/teamintel?team=${team.key}`)= team.nickname
					td
						if (team.hasPicture)
							a(href=`${fileRoot}/uploads/responsive/${event_year}_${team.key}_lg.jpg`)
								img(src=`${fileRoot}/uploads/responsive/${event_year}_${team.key}_sm.jpg` alt="[No image available]" class="w3-content" style="max-height:350px;")
					if (team.hasPicture)
						td(class="w3-text-light-gray w3-center align") #{team.city}
					else
						td(class="w3-text-light-gray w3-center") #{team.city}
	else
		h2(class="theme-text") <i>There is no team info in the system yet</i>
		h6 Please check back later