//-
	Org mgmt audit trail for match scouting on a per-match basis.
	Shows each team for each match and the details for who scouted what.
		manage/scoutingaudit.js
		'/manage/scoutingaudit/bymatch'
	//
extends ../../layout
block content
	h2 Audit trail for matches
	p
		a(href="/manage/scoutingaudit") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Per-Scouter Audit
		a(href="/manage/scoutingaudit/comments") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Comments Audit
		a(href="/manage/scoutingaudit/uploads") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Photo Uploads Audit
	if !audit
		+noDataFound('No scouting data has been found', 'Please check back later')
	else
		div(class="w3-auto")
			each match in audit
				div(class="w3-container")
					div(class="w3-btn w3-block theme-dim")
						- var matchPrefix = "";
						- var comp_level = match[0].match_key.split("_")[1].substring(0,2)
						- if (comp_level != 'qm') matchPrefix = "" + comp_level + "" + match.match_number + " ";
						span #{matchPrefix.toUpperCase()} Match #{match[0].match_number}: 
						span= ' ' + zoneTime(match[0].time * 1000).toFormat('cccc @ t')
				div(class="w3-row w3-padding")
					each match_team in match
						div(class="w3-third w3-padding")
							div(class="w3-btn w3-block theme-hover-white")
								a(href=`/scouting/match?key=${match_team.match_team_key}`)
									div Team: #{match_team.team_key.substring(3)}
									div Assigned Scorer: #{match_team.assigned_scorer.name}
									div Scored by: #{match_team.actual_scorer ? match_team.actual_scorer.name : "None"}