//-
	New as of 2023 scoring audits - flexible for multiple orgs & multiple years
		reports.js
		'/manage/scoutingaudit/spr'
			QUERY: lookbackto (the match # to look back to; if omitted, will show & calculate across all matches so far at the current event
extends ../../layout
include ../../reports/mixins/metricTables
block content
	style.
		.w3-tooltip .w3-tooltiptext{
			width: 120px;
			padding: 8px 16px;
			margin-left: -60px;
		}

	h2(class="theme-text") Scouter Performance Ratings

	p
		a(href="/manage/scoutingaudit") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Per-Scouter Audit
		a(href="/manage/scoutingaudit/comments") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Comments Audit
		a(href="/manage/scoutingaudit/bymatch") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Per-Match Audit
		a(href="/manage/scoutingaudit/uploads") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Photo Uploads Audit

	h6 <b>SPR</b> is OPR but for estimating scouter accuracy (low or no margin of error). <b>Lower values are better!</b>
	p

	h6 <i>Click on a column header to sort by that column's information (click again to change sort direction)</i>

	div(class="w3-show-inline-block")
		table(class="w3-table" id="metricTable")
			tr
				th(class="w3-center") Scout
				th(class="w3-right-align w3-tooltip")  SPR
					span.w3-tooltiptext Scouter Performance Rating (Lower Is Better)
				th(class="w3-right-align w3-tooltip")  Count
					span.w3-tooltiptext Count of matches scouted
				th(class="w3-right-align w3-tooltip")  AvgDiff
					span.w3-tooltiptext Average points difference
				th(class="w3-right-align w3-tooltip")  AvgRatio
					span.w3-tooltiptext Average ratio of error
			each scout, i in scouterScoring
				tr
					td(class="w3-text-light-gray w3-center")= i
					td(class="w3-text-light-gray w3-center")= Math.round(scout.sprScore*10)/10
					td(class="w3-text-light-gray w3-center")= scout.count
					td(class="w3-text-light-gray w3-center")= Math.round(scout.avgDiff*10)/10
					td(class="w3-text-light-gray w3-center")= Math.round(scout.avgRatio*100)/100
	+tableSorter()

	h2(class="theme-text") Per-match auditing

	h6 <i>Click on a match or list of scouts to see FIRST data or per-scout data respectively</i>

	div(class="w3-show-inline-block")
		table(class="w3-table")
			tr
				th(class="w3-center") Match/scouts
				th(class="w3-right-align w3-tooltip") Point diff
					span.w3-tooltiptext Count of matches scouted
				th(class="w3-right-align w3-tooltip") Err Ratio
					span.w3-tooltiptext Average points difference
				th(class="w3-right-align w3-tooltip") Total Points
					span.w3-tooltiptext Average ratio of error
			- var rowToggle = 0;
			- var thisMatch = '';
			each matchall, i in compareTable
				tr
					- if (rowToggle == 0) thisMatch = matchall[0].split(" ")[0];
					- if (rowToggle == 0)
						td(class="w3-text-light-gray w3-center")
							a(class="w3-tooltip" href=`/reports/matchintel?key=${thisMatch}`)= matchall[0]
					- else
						td(class="w3-text-light-gray w3-center")
							a(class="w3-tooltip" href=`/reports/matchdata?key=${thisMatch}`)= matchall[0]
					td(class="w3-text-light-gray w3-center")= matchall[1]
					td(class="w3-text-light-gray w3-center")= Math.round(matchall[2]*100)/100
					td(class="w3-text-light-gray w3-center")= matchall[3]
					- rowToggle = 1 - rowToggle;
