if match
	div(class="w3-row")
		- outcome = "Tie";
		- if (match.winning_alliance == 'red') 
			- outcome = "Red won";
		- if (match.winning_alliance == 'blue') 
			- outcome = "Blue won";
		//-Title for small screens
		div(class="w3-col s12 m0 rounded theme-dim w3-border")
			div(class="w3-col s12 w3-padding")
				div(class="")
					- var matchPrefix = "";
					- if (match.comp_level != 'qm') matchPrefix = "" + match.comp_level + "" + match.set_number + " ";
					span #{matchPrefix.toUpperCase()} Match #{match.match_number}: 
					span #{outcome}
			div(class="w3-col s6")
				a(href=`/reports/matchdata?key=${match.key}`)
					div(class="w3-padding w3-small w3-border-right w3-border-top w3-border-gray theme-hover-white rounded-bl")
						i Scout data
			div(class="w3-col s6")
				a(href=`/reports/matchintel?key=${match.key}`)
					div(class="w3-padding w3-small w3-border-top w3-border-gray theme-hover-white rounded-br")
						i FIRST data
		div(class="w3-col s12 m0 w3-tiny") &nbsp;
		//-Title for medium screens
		div(class="w3-col s0 m3 w3-padding-small")
			div(class="w3-col rounded theme-dim w3-border")
				- var matchPrefix = "";
				- if (match.comp_level != 'qm') matchPrefix = "" + match.comp_level + "" + match.set_number + " ";
				div(class="w3-padding") #{matchPrefix.toUpperCase()} Match #{match.match_number}
				div(class="w3-padding") #{outcome}
				div(class="w3-col m6")
					a(href=`/reports/matchdata?key=${match.key}`)
						div(class="w3-padding w3-small w3-border-right w3-border-top w3-border-gray theme-hover-white rounded-bl")
							i Scout data
				div(class="w3-col s6")
					a(href=`/reports/matchintel?key=${match.key}`)
						div(class="w3-padding w3-small w3-border-top w3-border-gray theme-hover-white rounded-br")
							i FIRST data
		//-Alliance container
		div(class="w3-col s12 m9")
			//- set shorthands for each team key
			- var blue = match.alliances.blue.team_keys, red = match.alliances.red.team_keys;
			- var blue1 = blue[0], blue2 = blue[1], blue3 = blue[2];
			- var red1 = red[0], red2 = red[1], red3 = red[2];
			- var blueContainerColor = "theme-dim", redContainerColor = "theme-dim", blueBorder = "", redBorder = "";
			- if (match.winning_alliance == 'blue') blueContainerColor = "w3-white", blueBorder = "thick-border";
			- if (match.winning_alliance == 'red') redContainerColor = "w3-white", redBorder = "thick-border"
			//-The Blue Alliance
			div(class="w3-col s6 w3-padding-small")
				div(class=`w3-col rounded-small w3-border ${blueContainerColor} ${blueBorder}`)
					//-teams
					div(class="w3-col s7 m6 l8 alliance-blue rounded-small-tl rounded-small-bl")
						//- not doing this with a loop because border needs to be specified
						a(href=`/reports/teammatchintel?key=${match.key}_${blue1}`)
							div(class="w3-padding alliance-hover-blue rounded-small-tl")
								if team && team.key == blue1
									strong=blue1.substring(3)
								else
									span=blue1.substring(3)
						a(href=`/reports/teammatchintel?key=${match.key}_${blue2}`)
							div(class="w3-padding alliance-hover-blue")
								if team && team.key == blue2
									strong=blue2.substring(3)
								else
									span=blue2.substring(3)
						a(href=`/reports/teammatchintel?key=${match.key}_${blue3}`)
							div(class="w3-padding alliance-hover-blue rounded-small-bl")
								if team && team.key == blue3
									strong=blue3.substring(3)
								else
									span=blue3.substring(3)
					//-breakdown
					div(class="w3-col s5 m6 l4 rounded-small tr rounded-small br")
						div(class="w3-padding-8 rounded-small-tr")
							span Score:
						div
							span=match.alliances.blue.score
						div(class="w3-padding-8")
							- if (match.score_breakdown)
								- if (rankingPoints)
									- var firstLabel = true;
									- for (var i = rankingPoints.attributes.length - 1; i >= 0; i--)
										- var thisRp = rankingPoints.attributes[i];
										- var thisName = thisRp.name;
										- var thisAbbr = thisRp.abbr;
										- if (match.score_breakdown.blue[thisName])
											div(class="w3-tooltip w3-show-inline-block")
												- if (firstLabel) firstLabel = false;
												- else thisAbbr = '&nbsp;' + thisAbbr;
												span !{thisAbbr}
												div(class="w3-tooltiptext tooltip-gray" style="width: 80px; margin-left: -40px;")=thisRp.label
			//-The Red Alliance
			div(class="w3-col s6 w3-padding-small")
				div(class=`w3-col rounded-small w3-border ${redContainerColor} ${redBorder}`)
					div(class="w3-col s7 m6 l8 alliance-red rounded-small-tl rounded-small-bl")
						//- not doing this with a loop because border needs to be specified
						a(href=`/reports/teammatchintel?key=${match.key}_${red1}`)
							div(class="w3-padding alliance-hover-red rounded-small-tl")
								if team && team.key == red1
									strong=red1.substring(3)
								else
									span=red1.substring(3)
						a(href=`/reports/teammatchintel?key=${match.key}_${red2}`)
							div(class="w3-padding alliance-hover-red")
								if team && team.key == red2
									strong=red2.substring(3)
								else
									span=red2.substring(3)
						a(href=`/reports/teammatchintel?key=${match.key}_${red3}`)
							div(class="w3-padding alliance-hover-red rounded-small-bl")
								if team && team.key == red3
									strong=red3.substring(3)
								else
									span=red3.substring(3)
					div(class="w3-col s5 m6 l4 rounded-small tr rounded-small br")
						div(class="w3-padding-8 rounded-small-tr")
							span Score:
						div
							span=match.alliances.red.score
						div(class="w3-padding-8")
							- if (match.score_breakdown)
								- if (rankingPoints)
									- var firstLabel = true;
									- for (var i = rankingPoints.attributes.length - 1; i >= 0; i--)
										- var thisRp = rankingPoints.attributes[i];
										- var thisName = thisRp.name;
										- var thisAbbr = thisRp.abbr;
										- if (match.score_breakdown.red[thisName])
											div(class="w3-tooltip w3-show-inline-block")
												- if (firstLabel) firstLabel = false;
												- else thisAbbr = '&nbsp;' + thisAbbr;
												span !{thisAbbr}
												div(class="w3-tooltiptext tooltip-gray" style="width: 80px; margin-left: -40px;")=thisRp.label
else 
	p Error: reports/templates/completedMatch.pug: match is not defined